
<div class="flex justify-between items-center  pb-2">
  <h2 class="text-celeste-500 text-sm font-medium">Agregar Deuda:</h2>
  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
  <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
</div>

  <form action="" class="px-4 space-y-3 py-5">



    <!-- Alias de  la Serie-->
    <div class="w-full sm:mb-1 md:mb-2">
      <label class="block w-full pb-1 text-sm font-medium text-black ">Tipo Deuda</label>
      <mat-select type="text"  required placeholder="Seleccione Tipo" class="w-full sm:mb-1 text-sm py-2 px-2 rounded-md  border border-gray-400 focus">
          <mat-option value="01">FacTEDSOL</mat-option>
          <mat-option value="01">FactuTED</mat-option>
      </mat-select>
      <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
    </div>

     <!-- Concepto -->
    <div class="col-span-1 w-full md:mb-2">
      <label class="labelclass">Concepto</label>
      <input type="text" required placeholder="Ingrese un concepto" class="w-full sm:mb-1 forms-control focus">
      <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
    </div>
     <!-- Concepto -->
    <div class="col-span-1 w-full md:mb-2">
      <label class="labelclass">Importe</label>
      <input type="number" required placeholder="Ingrese un importe" class="w-full sm:mb-1 forms-control focus">
      <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
    </div>

      <!--Fecha de Inicio -->
      <div class="w-full md:mb-2">
        <label class="text-gray-800 block font-medium text-sm w-full pb-1">Fecha de Pago:</label>
        <div class="flex w-full border  rounded px-4  border-gray-300 ">
          <input class="px-2 w-full py-2 focus:outline-none placeholder-gray-500  text-sm" placeholder="17/10/2020" [matDatepicker]="fechainicio">
          <mat-datepicker #fechainicio> </mat-datepicker>
          <button type="button" (click)="fechainicio.open()" class="focus:outline-none cursor-pointer focus:text-green-400 rounded-full w-10 h-9 p-1 flex hover:border-green-500 border-white  items-center justify-center  hover:bg-gray-200 focus:bg-gray-200 transition duration-300 ease-in">
            <svg class="w-6 h-6 fill-current text-gray-800" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M15 4h3v15H2V4h3V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1h4V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1zM6 3v2.5a.491.491 0 0 0 .5.5a.491.491 0 0 0 .5-.5V3c0-.14-.05-.26-.15-.35c-.09-.1-.21-.15-.35-.15s-.26.05-.35.15c-.1.09-.15.21-.15.35zm7 0v2.5c0 .14.05.26.14.36c.1.09.22.14.36.14s.26-.05.36-.14c.09-.1.14-.22.14-.36V3a.491.491 0 0 0-.5-.5a.491.491 0 0 0-.5.5zm4 15V8H3v10h14zM7 9v2H5V9h2zm2 0h2v2H9V9zm4 2V9h2v2h-2zm-6 1v2H5v-2h2zm2 0h2v2H9v-2zm4 2v-2h2v2h-2zm-6 1v2H5v-2h2zm4 2H9v-2h2v2zm4 0h-2v-2h2v2z" /></svg>
          </button>
      </div>
        <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
      </div>

    <div class="pt-8 flex items-center space-x-3">
      <button  class="py-2 px-2 focus:outline-none border-2 border-celeste-500 rounded-md text-celeste-500 w-full">cancelar</button>
      <button  class="py-2 px-2 focus:outline-none bg-celeste-500 border-2 border-celeste-500 rounded-md text-white w-full">Agregar</button>
    </div>
  </form>
