
<aside class="sidebar">
  <aside class="flex-shrink-0  w-64 h-full">
    <div class="flex flex-col h-full  pb-4">
      <nav class="flex-1 max-h-full  mt-6 overflow-y-hidden">
        <mat-accordion>
        <mat-expansion-panel  class="relative flex items-center" [expanded]="step === 0" (opened)="setStep(0)" >
          <mat-expansion-panel-header  (click)="onClick(1)"   [ngClass]="{'bg-blue-50 border-l-4 border-celeste-500 text-celeste-500': tab==='tab1'}"   class="flex items-center   text-sm w-full  text-gray-900    focus:outline-none hover:text-celeste-500 focus:text-celeste-500 hover:bg-red-50 py-2">
          <div class="flex items-center">
            <span  class="pl-2">
              <svg class="w-6 h-6 fill-current" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5556 2.92766H12.6042V2.17872C12.6042 1.56596 12.39 1.04965 11.9618 0.629787C11.5336 0.209929 11.0069 0 10.3819 0H7.39583C6.77083 0 6.24421 0.209929 5.81597 0.629787C5.38773 1.04965 5.17361 1.56596 5.17361 2.17872V2.92766H2.22222C1.59722 2.92766 1.0706 3.13191 0.642361 3.54043C0.21412 3.94894 0 4.47092 0 5.10638V8C0 8.4766 0.243056 8.71489 0.729167 8.71489V14.5362C0.729167 14.922 0.87963 15.2624 1.18056 15.5574C1.48148 15.8525 1.8287 16 2.22222 16H15.5556C15.9491 16 16.2963 15.8525 16.5972 15.5574C16.8981 15.2624 17.0486 14.922 17.0486 14.5362V8.71489C17.5347 8.71489 17.7778 8.4766 17.7778 8V5.10638C17.7778 4.47092 17.5637 3.94894 17.1354 3.54043C16.7072 3.13191 16.1806 2.92766 15.5556 2.92766ZM6.66667 2.17872C6.66667 1.97447 6.73611 1.80426 6.875 1.66809C7.01389 1.53191 7.1875 1.46383 7.39583 1.46383H10.3819C10.5903 1.46383 10.7639 1.53191 10.9028 1.66809C11.0417 1.80426 11.1111 1.97447 11.1111 2.17872V2.92766H6.66667V2.17872ZM2.22222 14.5362V8.71489H6.66667V10.8936C6.66667 11.3021 6.81134 11.6482 7.10069 11.9319C7.39005 12.2156 7.74306 12.3574 8.15972 12.3574H9.61806C10.0347 12.3574 10.3877 12.2156 10.6771 11.9319C10.9664 11.6482 11.1111 11.3021 11.1111 10.8936V8.71489H15.5556V14.5362H2.22222ZM8.15972 10.8936V8.71489H9.61806V10.8936H8.15972ZM16.2847 7.28511H1.49306V5.10638C1.49306 4.60709 1.73611 4.35745 2.22222 4.35745H15.5556C16.0417 4.35745 16.2847 4.60709 16.2847 5.10638V7.28511Z" />
                </svg>
              </span>
           <span class="pl-7 font-medium text-sm">Contización</span>
          </div>

          </mat-expansion-panel-header>
          <ul>
            <li>
              <a routerLink="manual" (click)="toggleTabs(1)" [ngClass]="{'text-gray-800': !openTab1, 'text-celeste-500': openTab1}" class="flex px-3 py-3 items-center hover:text-celeste-500 cursor-pointer focus:text-celeste-500 font-medium text-gray-600 focus:outline-none text-sm " >
                <span class="pl-1">
                  <svg class="w-5 h-5 fill-current" width="19" height="11" viewBox="0 0 19 11"  xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 5H19V6H5V5Z"/>
                    <circle cx="5.5" cy="5.5" r="4.2"  stroke-width="1.4"/>
                    </svg>
                </span>
                <span class="pl-7 text-sm">
                  Manual
                </span>
               </a>
            </li>
          </ul>


        </mat-expansion-panel>

        <mat-expansion-panel  class="relative flex items-center" >
              <mat-expansion-panel-header  (click)="onClick(2)"   [ngClass]="{'bg-blue-50 border-l-4 border-celeste-500 text-celeste-500': tab==='tab2'}"   class="flex items-center   text-sm w-full  text-gray-900    focus:outline-none hover:text-celeste-500 focus:text-celeste-500 hover:bg-red-50 py-2">
              <div class="flex items-center">
                <span class="pl-2">
                  <svg class="w-6 h-6 fill-current" width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9809 17.2009C19.9343 17.0358 19.8254 16.8951 19.6771 16.8086C19.5289 16.7222 19.3529 16.6966 19.1862 16.7374L17.5372 17.1811C18.4395 15.851 18.9866 14.3121 19.1266 12.7109C19.2618 11.2128 19.0428 9.70396 18.4871 8.30619C17.9315 6.90842 17.0548 5.66096 15.9279 4.66462C15.7976 4.55688 15.6311 4.50304 15.4624 4.51412C15.2937 4.5252 15.1357 4.60037 15.0206 4.72423C14.9049 4.85603 14.8461 5.02837 14.8573 5.20344C14.8685 5.3785 14.9487 5.54198 15.0802 5.65799C16.0512 6.5151 16.8067 7.5889 17.2853 8.7924C17.7639 9.99589 17.9523 11.2952 17.8352 12.5851C17.7217 13.9437 17.2661 15.2515 16.5107 16.3864L16.3451 14.7241C16.3576 14.6263 16.3481 14.5269 16.3173 14.4333C16.2864 14.3396 16.2351 14.254 16.1669 14.1827C16.0988 14.1114 16.0156 14.0562 15.9234 14.0212C15.8312 13.9862 15.7323 13.9722 15.6341 13.9803C15.5358 13.9883 15.4405 14.0183 15.3553 14.0678C15.27 14.1174 15.1969 14.1854 15.1413 14.2668C15.0857 14.3483 15.049 14.4411 15.0338 14.5386C15.0187 14.636 15.0255 14.7356 15.0537 14.8301L15.3849 19.095L19.5239 17.9956C19.6879 17.9477 19.827 17.8382 19.9121 17.6901C19.9973 17.542 20.0219 17.3668 19.9809 17.2009Z" />
                    <path d="M0.656117 11.1082C0.744135 11.1648 0.843693 11.201 0.947506 11.2141C1.12034 11.2368 1.29514 11.1904 1.434 11.085C1.57285 10.9797 1.66456 10.8238 1.68922 10.6512C1.96286 8.63081 2.98965 6.78834 4.56397 5.49279C6.13828 4.19723 8.14391 3.54422 10.1792 3.66452L8.69579 4.67776C8.59083 4.75683 8.51177 4.86534 8.46866 4.98949C8.42556 5.11363 8.42036 5.24779 8.45374 5.37489C8.48711 5.50199 8.55754 5.61629 8.65607 5.70325C8.75461 5.7902 8.87678 5.84587 9.00704 5.86318C9.15624 5.87682 9.30565 5.83947 9.43088 5.75722L12.9607 3.3334L9.94081 0.300312C9.88707 0.21797 9.81567 0.148626 9.7318 0.097317C9.64792 0.0460076 9.55367 0.0140195 9.45589 0.00367516C9.35811 -0.00666921 9.25925 0.00488974 9.16649 0.0375128C9.07374 0.0701359 8.98941 0.123004 8.91963 0.19228C8.84985 0.261556 8.79638 0.3455 8.76309 0.438019C8.7298 0.530537 8.71752 0.629308 8.72716 0.727161C8.7368 0.825014 8.76811 0.919492 8.81881 1.00374C8.86951 1.08798 8.93834 1.15988 9.02029 1.21421L10.1461 2.34003C7.79568 2.22764 5.48853 3.00053 3.68012 4.50611C1.8717 6.01169 0.693456 8.14055 0.377974 10.4724C0.360994 10.5937 0.378002 10.7174 0.427107 10.8296C0.476211 10.9419 0.555487 11.0383 0.656117 11.1082Z" />
                    <path d="M12.1928 19.618C11.1587 19.9483 10.0678 20.0632 8.98755 19.9557C7.6719 19.8267 6.40741 19.3795 5.30324 18.6526C4.19907 17.9258 3.2884 16.9411 2.64985 15.7836L4.29885 16.3994C4.45085 16.4258 4.60729 16.3983 4.74116 16.3216C4.87503 16.2449 4.97793 16.1239 5.0321 15.9795C5.08627 15.835 5.08831 15.6762 5.03786 15.5304C4.98742 15.3846 4.88765 15.261 4.7558 15.1809L1.71608 14.0551L0.742582 13.7041L0.00748879 17.9094C-0.0179953 18.0774 0.0221049 18.2488 0.11949 18.3881C0.216875 18.5274 0.364089 18.6239 0.530663 18.6577H0.643245C0.799112 18.6605 0.950982 18.6083 1.07212 18.5102C1.19326 18.4121 1.2759 18.2743 1.30549 18.1213L1.58364 16.5319C2.33265 17.844 3.38473 18.9578 4.652 19.7804C5.91928 20.603 7.36497 21.1104 8.86834 21.2603C10.1253 21.3849 11.3944 21.2496 12.5968 20.863C12.7499 20.7996 12.8737 20.6811 12.9437 20.5309C13.0137 20.3807 13.0248 20.2097 12.9749 20.0517C12.925 19.8937 12.8177 19.7601 12.6741 19.6774C12.5306 19.5946 12.3612 19.5687 12.1994 19.6047L12.1928 19.618Z" />
                    <path d="M12.3718 8.40625H7.07387C6.89823 8.40625 6.72978 8.47602 6.60559 8.60022C6.48139 8.72441 6.41162 8.89286 6.41162 9.0685V14.3665C6.41162 14.5421 6.48139 14.7106 6.60559 14.8347C6.72978 14.9589 6.89823 15.0287 7.07387 15.0287H12.3718C12.5475 15.0287 12.7159 14.9589 12.8401 14.8347C12.9643 14.7106 13.0341 14.5421 13.0341 14.3665V9.0685C13.0341 8.89286 12.9643 8.72441 12.8401 8.60022C12.7159 8.47602 12.5475 8.40625 12.3718 8.40625ZM11.7096 13.7042H7.73611V9.73074H11.7096V13.7042Z" />
                    </svg>
                  </span>
               <span class="pl-7 font-medium text-sm">Tracking</span>
              </div>

              </mat-expansion-panel-header>
              <ul>

                <li>
                  <a routerLink="control" (click)="toggleTabs(2)" [ngClass]="{'text-gray-900': !openTab2, 'text-celeste-500': openTab2}" class="flex px-3 py-3 items-center hover:text-celeste-500 cursor-pointer focus:text-celeste-500 font-medium text-gray-600 focus:outline-none text-sm " >
                    <span class="pl-1">
                      <svg class="w-5 h-5 fill-current" width="19" height="11" viewBox="0 0 19 11"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 5H19V6H5V5Z"/>
                        <circle cx="5.5" cy="5.5" r="4.2"  stroke-width="1.4"/>
                        </svg>
                    </span>
                    <span class="pl-7 text-sm">
                      Control
                    </span>  </a>
                </li>
              </ul>
        </mat-expansion-panel>

        <mat-expansion-panel  class="relative   flex items-center" >
            <mat-expansion-panel-header  (click)="onClick(3)"   [ngClass]="{'bg-blue-50 border-l-4 border-celeste-500 text-celeste-500': tab==='tab3'}"  class="flex items-center   text-sm w-full  text-gray-900    focus:outline-none hover:text-celeste-500 focus:text-celeste-500 hover:bg-red-50 py-2">
            <div class=" flex items-center">
              <span class="pl-2">
                <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M20 2H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-6 2.5a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5zM19 15H9v-.25C9 12.901 11.254 11 14 11s5 1.901 5 3.75V15z"
                  /><path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8z" /><rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" /></svg>     </span>
              <span class="pl-7 font-medium text-sm">Clientes</span>
            </div>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a routerLink="listado"  (click)="toggleTabs(3)" [ngClass]="{'text-gray-900': !openTab3, 'text-celeste-500': openTab3}" class="flex px-3 py-3  hover:text-celeste-500 focus:text-celeste-500 focus:text-current cursor-pointer items-center font-medium text-gray-900 focus:outline-none text-sm">
                  <span class="pl-1">
                    <svg class="w-5 h-5 fill-current" width="19" height="11" viewBox="0 0 19 11"  xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 5H19V6H5V5Z"/>
                      <circle cx="5.5" cy="5.5" r="4.2"  stroke-width="1.4"/>
                      </svg>
                  </span>
                   <span class="pl-7  text-sm">Listado</span> </a>
              </li>
              <li>
                <a routerLink="listado"  (click)="toggleTabs(4)" [ngClass]="{'text-gray-900': !openTab4, 'text-celeste-500': openTab4}" class="flex px-3 py-3  hover:text-celeste-500 focus:text-celeste-500 focus:text-current cursor-pointer items-center font-medium text-gray-900 focus:outline-none text-sm">
                  <span class="pl-1">
                    <svg class="w-5 h-5 fill-current" width="19" height="11" viewBox="0 0 19 11"  xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 5H19V6H5V5Z"/>
                      <circle cx="5.5" cy="5.5" r="4.2"  stroke-width="1.4"/>
                      </svg>
                  </span>
                   <span class="pl-7  text-sm">Config. Deudas</span> </a>
              </li>

            </ul>
        </mat-expansion-panel>

      </mat-accordion>
      </nav>

    </div>




  </aside>






</aside>











