<div class="flex justify-end items-center">
    <button mat-dialog-close class=" rounded-full border border-gray-100 focus:outline-none">
  <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
</div>


<div class="w-full">
    <label class="text-gray-900 font-medium text-sm" for="">Enviar Cotización</label>
    <form class="flex">
        <input class="rounded-l-lg p-2  border-t mr-0 text-sm border-b w-72 border-l focus text-gray-800 border-gray-200 bg-white" placeholder="example2321@innovated.pe" />
        <button class="px-8 rounded-r-lg bg-gray-900 text-sm  text-white font-medium p-2 focus:outline-none">Enviar</button>
    </form>
</div>