
 <div class="flex justify-between items-center ">
   <h2 class="text-gray-400 font-medium text-left">Orden de Pago</h2>
  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
    <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>


<!-- pasos para  -->
<mat-horizontal-stepper  #stepper>
  <!-- paso 01 -->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Paso 01</ng-template>
      <!-- buton de  descargar -->
      <button class="py-3  w-full  hover:bg-gray-100   flex items-center justify-between focus:outline-none cursor-pointer border-b border-gray-200">
        <div class="flex justify-start">
          <svg class="h-6 w-6 text-gray-600"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />  <polyline points="14 2 14 8 20 8" />  <line x1="16" y1="13" x2="8" y2="13" />  <line x1="16" y1="17" x2="8" y2="17" />  <polyline points="10 9 9 9 8 9" /></svg>
          <h3 class="text-gray-600 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
        </div>
        <div  class="pl-2 flex justify-end">
          <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
          </svg>
        </div>
      </button>

      <div class="overscroll-y-auto h-64">
        <!-- secccion de   ((vence -monto)) -->
        <section class="grid grid-cols-5 flex justify-between  gap-2 items-center  py-3">
          <div class="flex flex-row col-span-3 items-center">
            <!-- <svg class="h-7 w-7 text-celeste-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <path d="M9 15l2 2l4 -4" /></svg> -->
            <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span>
            <div class="flex flex-col ml-2">
              <span class="whitespace-nowrap text-left text-xs md:text-sm text-gray-600"> Vence  </span>
            <span class="whitespace-nowrap text-left text-gray-700 text-xs md:text-sm font-medium"> 25 Febrero 2021</span>
            </div>
          </div>
          <div class="flex flex-col col-span-2 ml-2">
            <span class="whitespace-nowrap text-left text-xs md:text-sm text-gray-600"> Monto </span>
          <span class="whitespace-nowrap text-left text-gray-700 text-xs md:text-sm font-medium"> S/. 1500.99</span>
          </div>
        </section>

      </div>
     <!-- boton continuar -->
      <div class="flex justify-between items-center pt-4">
        <button class="bg-celeste-500 py-2 px-3 rounded text-sm font-medium text-white flex items-center justify-center" matStepperNext>Continuar
           <svg class="h-5 w-5 text-white"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />  <polyline points="10 17 15 12 10 7" />  <line x1="15" y1="12" x2="3" y2="12" /></svg>
        </button>

        <div class="flex items-center justify-center pl-2">
          <h1 class="text-gray-900 font-medium text-sm">Total:</h1>
          <h2 class="text-sm font-medium text-celeste-500 pl-3">s/.<span class="text-celeste-500 text-2xl">568.50</span></h2>
        </div>
      </div>
  </mat-step>

  <!-- paso 02 -->
  <mat-step [stepControl]="secondFormGroup" label="Paso 02">
    <!-- <a  class=" relative rounded-lg cursor-pointer hover:bg-gray-50 block md:flex items-center  border  border-gray-300 mt-8" style="min-height: 2rem;">
      <div class="relative w-full  h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg" style="min-height: 2rem;">
          <div class="py-4 pl-9  md:pl-12 md:py-4">
              <p class="text-sm md:text-base font-medium text-gray-900">Operación</p>
              <p class="text-sm font-normal text-gray-500 pt-1 ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>

          </div>
      </div>
      <button class="absolute top-0 mt-7 left-0 bg-red-600 rounded-full shadow-md h-10 w-10 text-2xl text-indigo-600 flex items-center justify-center hover:text-indigo-400  focus:text-indigo-400 -ml-4 focus:outline-none focus:shadow-outline">
          <span class="block text-lg  text-white">
              <img src="assets/img/faq/operaciones.svg" alt="">
          </span>
      </button>

  </a> -->


  <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1 mt-5">
    <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs flex items-center">
      <p class="flex items-center z-20">
        <label for="">
          <svg class="h-6 w-6 text-celeste-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <line x1="9" y1="7" x2="10" y2="7" />  <line x1="9" y1="13" x2="15" y2="13" />  <line x1="13" y1="17" x2="15" y2="17" /></svg></label>
        <label for="name" class="bg-white text-celeste-500 text-sm px-1">Vouchers</label>
      </p>
    </div>
    <p class="text-sm md:text-base font-medium text-gray-900">Operación</p>
      <p class="text-sm font-normal text-gray-500 pt-1 ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
  </div>

    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

</mat-horizontal-stepper>
