
<div class="flex justify-between items-center  pb-2">
  <h2 class=" text-sm text-celeste-500 font-medium">Contactos</h2>
  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
  <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
</div>




 <mat-accordion class="mt-8">
  <!-- Ver contactos -->
  <mat-expansion-panel class="w-full text-gray-900 mb-1" >
      <mat-expansion-panel-header class="text-gray-800">
          <mat-panel-title>
            <a class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between  w-full">
              <div class="flex items-center">
               <span class=" bg-purple-600 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium">F</span>
               <span class="text-gray-700 text-xs pl-2">Febella Rosmery</span>
              </div>
            </a>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Section de contanctos -->
      <section class="w-80 space-y-4 mt-4">
        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Celular</span>
          <span class="text-gray-500 text-xs">951540168</span>
          </div>


          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
              <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start  flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Correo</span>
          <span class="text-gray-500 text-xs ">example@innovated.pe</span>
          </div>

          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

      </section>

  </mat-expansion-panel>
  <!-- Ver contactos -->
  <mat-expansion-panel class="w-full text-gray-900 mb-1" >
      <mat-expansion-panel-header class="text-gray-800">
          <mat-panel-title>
            <a class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between  w-full">
              <div class="flex items-center">
               <span class=" bg-green-500 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium">B</span>
               <span class="text-gray-700 text-xs pl-2">Bernardo Peña</span>
              </div>
            </a>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Section de contanctos -->
      <section class="w-80 space-y-4 mt-4">
        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Celular</span>
          <span class="text-gray-500 text-xs">951540168</span>
          </div>


          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
              <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start  flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Correo</span>
          <span class="text-gray-500 text-xs ">example@innovated.pe</span>
          </div>

          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

      </section>

  </mat-expansion-panel>
  <!-- Ver contactos -->
  <mat-expansion-panel class="w-full text-gray-900 mb-1" >
      <mat-expansion-panel-header class="text-gray-800">
          <mat-panel-title>
            <a class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between  w-full">
              <div class="flex items-center">
                <div class=" bg-yellow-500 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium">
               R
               </div>
                <span class="text-gray-700 text-xs pl-2">René Malecio</span>
               </div>
            </a>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Section de contanctos -->
      <section class="w-80 space-y-4 mt-4">
        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Celular</span>
          <span class="text-gray-500 text-xs">951540168</span>
          </div>


          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
              <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start  flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Correo</span>
          <span class="text-gray-500 text-xs ">example@innovated.pe</span>
          </div>

          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

      </section>

  </mat-expansion-panel>

  <mat-expansion-panel class="w-full text-gray-900 mb-1" >
      <mat-expansion-panel-header class="text-gray-800">
          <mat-panel-title>
            <a class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between  w-full">
              <div class="flex items-center">
                <div class=" bg-purple-600 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium">
                  <img class="w-7 h-7 rounded-full object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-A41d8JfCKWwj8bLnP8udw3jOENZHlMJi_g&usqp=CAU" alt="">
                </div>
                <span class="text-gray-700 text-xs pl-2">Pedro Ruiz</span>
               </div>
            </a>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Section de contanctos -->
      <section class="w-80 space-y-4 mt-4">
        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Celular</span>
          <span class="text-gray-500 text-xs">951540168</span>
          </div>


          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
              <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start  flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Correo</span>
          <span class="text-gray-500 text-xs ">example@innovated.pe</span>
          </div>

          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

      </section>

  </mat-expansion-panel>

  <mat-expansion-panel class="w-full text-gray-900 mb-1" >
      <mat-expansion-panel-header class="text-gray-800">
          <mat-panel-title>
            <a class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between  w-full">
              <div class="flex items-center">
               <span class=" bg-purple-600 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium">F</span>
               <span class="text-gray-700 text-xs pl-2">Febella Rosmery</span>
              </div>
            </a>
         </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Section de contanctos -->
      <section class="w-80 space-y-4 mt-4">
        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Celular</span>
          <span class="text-gray-500 text-xs">951540168</span>
          </div>


          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
              <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

        <div  class="flex items-center py-1 w-full justify-between ">
          <div class="flex items-start  flex-col">
          <span class="text-xs font-medium  text-gray-900 uppercase">Correo</span>
          <span class="text-gray-500 text-xs ">example@innovated.pe</span>
          </div>

          <span class="flex flex-row space-x-3">
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            </button>
            <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
            <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </span>
        </div>

      </section>

  </mat-expansion-panel>

</mat-accordion>


<div class="flex justify-center items-center w-full py-2 mt-3">
  <button class="py-3 px-10 text-white text-sm  font-medium bg-celeste-500 rounded focus:outline-none">Nuevo</button>
</div>

