

<div class="flex justify-end items-center  pb-2">
  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
  <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
</div>
    <div class="flex justify-center">
      <img class="h-40 w-40" src="assets/img/login/aceptar.svg" alt="">
    </div>
      <div class="flex items-center justify-center">
        <h3 class="text-sm md:text-base leading-6 text-center font-medium text-gray-900" id="modal-headline">  Cliente  <strong class="font-medium">ASOCIACIACIÓN MALISA NEYRA</strong>  aceptado </h3>
        <div class="mx-auto flex-shrink-0 flex items-center justify-center  rounded-full  sm:mx-0 sm:h-10 sm:w-10">
          <!-- Heroicon name: outline/exclamation -->
          <svg class="w-6 h-6 text-green-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        </div>
      </div>

    <div class="bg-gray-50 px-2 py-3 sm:px-6 flex justify-center items-center space-x-2">
      <button type="button" (click)="okey()"  class=" inline-flex justify-center rounded-md  shadow-sm py-2 w-full px-3  md:px-10 bg-white text-base font-medium  border border-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black sm:ml-3 sm:w-auto sm:text-sm">
        Cerrar
      </button>
      <button type="button" (click)="okey()"  class=" inline-flex justify-center rounded-md  shadow-sm w-full py-2 px-3  md:px-10  bg-gray-900 text-base font-medium text-white hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
        Okey
      </button>
    </div>


