<header class="flex justify-end items-center ">
  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
    <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</header>

<!-- ver detalle -->
<main class="grid grid-cols-1 sm:grid-cols-2 gap-1 sm:gap-x-4 w-full sm:pb-2">
  <!-- tipo -->
  <section class="w-full md:mb-2 xl:col-span-1 bg-gray-200">
    <h3 class="text-gray-600 font-medium text-sm">Lorem ipsum dolor sit amet consectetur lorem Lorem ipsum muss </h3>
  </section>

  <section class="w-full md:mb-2 xl:col-span-1">
    <article class="py-2">
      <div class="flex items-center">
        <svg class="w-6 h-6 " viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.1429 7.85714V0H0V23.5714H6.28571V18.8571H7.85714V23.5714H22V7.85714H14.1429ZM3.92857 20.4286H2.35714V18.8571H3.92857V20.4286ZM3.92857 16.5H2.35714V14.9286H3.92857V16.5ZM3.92857 12.5714H2.35714V11H3.92857V12.5714ZM3.92857 8.64286H2.35714V7.07143H3.92857V8.64286ZM3.92857 4.71429H2.35714V3.14286H3.92857V4.71429ZM10.2143 3.14286H11.7857V4.71429H10.2143V3.14286ZM7.85714 16.5H6.28571V14.9286H7.85714V16.5ZM7.85714 12.5714H6.28571V11H7.85714V12.5714ZM7.85714 8.64286H6.28571V7.07143H7.85714V8.64286ZM7.85714 4.71429H6.28571V3.14286H7.85714V4.71429ZM11.7857 20.4286H10.2143V18.8571H11.7857V20.4286ZM11.7857 16.5H10.2143V14.9286H11.7857V16.5ZM11.7857 12.5714H10.2143V11H11.7857V12.5714ZM11.7857 8.64286H10.2143V7.07143H11.7857V8.64286ZM20.4286 22H14.1429V20.4286H15.7143V18.8571H14.1429V16.5H15.7143V14.9286H14.1429V12.5714H15.7143V11H14.1429V9.42857H20.4286V22Z" fill="#2DA6FE"/>
          <path d="M17.2852 18.8569H18.8566V20.4284H17.2852V18.8569Z" fill="#2DA6FE"/>
          <path d="M17.2852 14.9287H18.8566V16.5001H17.2852V14.9287Z" fill="#2DA6FE"/>
          <path d="M17.2852 11H18.8566V12.5714H17.2852V11Z" fill="#2DA6FE"/>
          </svg>
          <span class="text-celeste-500 font-medium pl-2 text-sm">RUC:</span>
      </div>
      <div class="flex flex-col pt-2 pl-8">
        <h1 class="text-sm text-gray-800 font-medium">20652158401</h1>
        <h2 class="text-sm text-gray-800 uppercase">ASOCIACIÓN DISTRIBUIDORA LOS CAMELLOS S.A.C</h2>
      </div>
    </article>

   <article class="py-2">
    <div class="flex items-center">
      <svg class="w-6 h-6"  viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 11.4286C13.1562 11.4286 15.7143 8.87054 15.7143 5.71429C15.7143 2.55804 13.1562 0 10 0C6.84375 0 4.28571 2.55804 4.28571 5.71429C4.28571 8.87054 6.84375 11.4286 10 11.4286ZM14.2768 12.8839L12.1429 21.4286L10.7143 15.3571L12.1429 12.8571H7.85714L9.28571 15.3571L7.85714 21.4286L5.72321 12.8839C2.54018 13.0357 0 15.6384 0 18.8571V20.7143C0 21.8973 0.959821 22.8571 2.14286 22.8571H17.8571C19.0402 22.8571 20 21.8973 20 20.7143V18.8571C20 15.6384 17.4598 13.0357 14.2768 12.8839Z" fill="#2DA6FE"/>
        </svg>
        <span class="text-celeste-500 font-medium pl-2 text-sm">REPRESENTANTE LEGAL:</span>
    </div>
    <div class="flex flex-col pt-2 pl-8">
      <h1 class="text-sm text-gray-800 font-medium">74584112</h1>
      <h2 class="text-sm text-gray-800 uppercase">JULIO FERNANDEZ CHAVEZ</h2>
    </div>
   </article>

   <article class="py-2">
    <div class="flex items-center">
      <svg class="w-6 h-6" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 1.5H3C2.60218 1.5 2.22064 1.65804 1.93934 1.93934C1.65804 2.22064 1.5 2.60218 1.5 3V15C1.5 15.3978 1.65804 15.7794 1.93934 16.0607C2.22064 16.342 2.60218 16.5 3 16.5H21C21.3978 16.5 21.7794 16.342 22.0607 16.0607C22.342 15.7794 22.5 15.3978 22.5 15V3C22.5 2.60218 22.342 2.22064 22.0607 1.93934C21.7794 1.65804 21.3978 1.5 21 1.5ZM3 0C2.20435 0 1.44129 0.31607 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3L0 15C0 15.7956 0.316071 16.5587 0.87868 17.1213C1.44129 17.6839 2.20435 18 3 18H21C21.7956 18 22.5587 17.6839 23.1213 17.1213C23.6839 16.5587 24 15.7956 24 15V3C24 2.20435 23.6839 1.44129 23.1213 0.87868C22.5587 0.31607 21.7956 0 21 0H3Z" fill="#2DA6FE"/>
        <path d="M16.5 5.25C16.5 5.05109 16.579 4.86032 16.7197 4.71967C16.8603 4.57902 17.0511 4.5 17.25 4.5H20.25C20.4489 4.5 20.6397 4.57902 20.7803 4.71967C20.921 4.86032 21 5.05109 21 5.25V6.75C21 6.94891 20.921 7.13968 20.7803 7.28033C20.6397 7.42098 20.4489 7.5 20.25 7.5H17.25C17.0511 7.5 16.8603 7.42098 16.7197 7.28033C16.579 7.13968 16.5 6.94891 16.5 6.75V5.25ZM1.5 10.5H22.5V13.5H1.5V10.5Z" fill="#2DA6FE"/>
        </svg>
        <span class="text-celeste-500 font-medium pl-2 text-sm">IMPORTE:</span>
    </div>
    <div class="pl-8">
      <div class="flex flex-col pt-2">
        <h1 class="text-sm text-gray-800 font-medium">MENSUAL</h1>
      </div>

      <div class="flex flex-col pt-2">
        <h1 class="text-sm text-gray-800 font-medium">Importe por Fase de Prueba</h1>
        <h2 class="text-sm text-gray-800 uppercase">S/. 500.00</h2>
      </div>
      <div class="flex flex-col pt-2">
        <h1 class="text-sm text-gray-800 font-medium">Importe por Emisión Comprobantes</h1>
        <h2 class="text-sm text-gray-800 uppercase">S/. 59.00</h2>
      </div>
      <div class="flex flex-col pt-2">
        <h1 class="text-sm text-gray-800 font-medium">Importe por Excedente</h1>
        <h2 class="text-sm text-gray-800 uppercase">S/. 0.07</h2>
      </div>
    </div>
   </article>
   <footer class="w-full grid grid-cols-2 gap-x-8 items-center pt-10">
    <div class="flex justify-center">
      <button (click)="cancel()" class="text-gray-900 border bg-white font-medium border-gray-900 py-2 px-3 w-full rounded-3xl focus:outline-none hover:bg-gray-50 transition duration-500 ease-in">Cancelar</button>
    </div>
    <div class="flex justify-center ">
      <button (click)="success()"
      class=" text-white  bg-gray-800 py-2 font-medium px-3 w-full rounded-3xl focus:outline-none hover:bg-gray-900 transition duration-500 ease-in">Guardar</button>
    </div>
  </footer>


  </section>
</main>



<app-cancel [cancel]="cancelar"> </app-cancel>
<app-guardarsuccess [guardar]="guardar"> </app-guardarsuccess>
