  <div class="flex justify-between items-center  pb-2 border-b border-gray-300">
    <h2 class="text-celeste-500 text-base font-medium">Editar</h2>
    <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
      <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>



  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-2 items-center justify-center border-b border-gray-300 py-3">
    <div class="flex flex-row items-center">
      <svg class="h-7 w-7 text-celeste-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <path d="M9 15l2 2l4 -4" /></svg>
      <!-- <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span> -->
       <div class="flex flex-col ml-2">
        <span class="whitespace-nowrap text-left text-xs md:text-sm text-gray-600"> Motivo </span>
       <span class="whitespace-nowrap text-left text-gray-700 text-xs md:text-sm font-medium"> Orden de Pago</span>
      </div>
    </div>

    <div class="flex flex-col ml-2">
      <span class="whitespace-nowrap text-left text-xs md:text-sm text-gray-600"> Vence  </span>
     <span class="whitespace-nowrap text-left text-gray-700 text-xs md:text-sm font-medium"> 25 Febrero 2021</span>
    </div>

    <div class="flex flex-col ml-2">
      <span class="whitespace-nowrap text-left text-xs md:text-sm text-gray-600"> Monto </span>
     <span class="whitespace-nowrap text-left text-gray-700 text-xs md:text-sm font-medium"> S/. 1500.99</span>
    </div>

    <div>
      <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
        <span class="bg-red-600 w-3 h-3 rounded-full"></span>
        <span class="text-xs md:text-sm font-normal ml-2 text-gray-600">Por Pagar</span>
      </span>
    </div>

    <div>
      <span class="p-1 bg-gray-100 flex items-center w-9 h-9   rounded-full">
        <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
      </span>
    </div>
  </div>

  <p class="text-xs sm:text-xs md:text-sm text-gray-500 py-2">Las unicas secciones editables son la fecha de vencimiento y el monto a cobrar.  Recuerda que la fecha es de libre eleción.<br>
     Por otro lado el monto no puede ser menor al 45% de de su cantidad original.</p>

  <div class=" grid-cols-3 gap-5 pt-5 flex items-center">
    <div class="flex flex-col col-span-3 md:col-span-1">
      <!-- nueva fecha vencimineto -->
      <div class="w-full md:mb-2">
        <label class="text-gray-800 block font-medium text-xs md:text-sm w-full pb-1">Nueva Fecha de Venc.</label>
        <div class="flex w-full border  rounded px-4  border-gray-300 ">
          <input class="px-2 w-full py-2 focus:outline-none placeholder-gray-500  text-xs md:text-sm" placeholder="17/10/2020" [matDatepicker]="fechainicio">
          <mat-datepicker #fechainicio> </mat-datepicker>
          <button type="button" (click)="fechainicio.open()" class="focus:outline-none cursor-pointer  rounded-full w-10 h-9 p-1 flex  border-white  items-center justify-center  hover:bg-gray-200 focus:bg-gray-200 transition duration-300 ease-in">
            <svg class="w-6 h-6 fill-current text-gray-800" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M15 4h3v15H2V4h3V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1h4V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1zM6 3v2.5a.491.491 0 0 0 .5.5a.491.491 0 0 0 .5-.5V3c0-.14-.05-.26-.15-.35c-.09-.1-.21-.15-.35-.15s-.26.05-.35.15c-.1.09-.15.21-.15.35zm7 0v2.5c0 .14.05.26.14.36c.1.09.22.14.36.14s.26-.05.36-.14c.09-.1.14-.22.14-.36V3a.491.491 0 0 0-.5-.5a.491.491 0 0 0-.5.5zm4 15V8H3v10h14zM7 9v2H5V9h2zm2 0h2v2H9V9zm4 2V9h2v2h-2zm-6 1v2H5v-2h2zm2 0h2v2H9v-2zm4 2v-2h2v2h-2zm-6 1v2H5v-2h2zm4 2H9v-2h2v2zm4 0h-2v-2h2v2z" /></svg>
          </button>
      </div>
        <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
      </div>


      <div class="flex flex-col md:mb-4">
        <label class="labelclass">Nuevo Monto.</label>
        <div class="relative">
          <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
            <div class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 border-gray-300 text-lg h-full w-full">
             s/.
            </div>
          </div>
          <input id="monto"
                 name="monto"
                 type="number"
                 placeholder=" 00.00"
                 value=""
                 class="text-xs md:text-sm  text-right relative w-full rounded placeholder-gray-400  focus forms-control pl-12">
        </div>
      </div>
    </div>
    <div class="col-span-3 md:col-span-2">
      <label class="labelclass">Motivo.</label>
      <div class="text-xs md:text-sm flex flex-col">
       <textarea  class="appearance-none w-full border border-gray-300 p-2 h-24 focus rounded-md " placeholder="Escribe algo aqui...">  </textarea>
      </div>
    </div>
  </div>

  <div class="flex justify-end space-x-5 pt-2">
    <button  class="h-10 px-10 text-celeste-500 text-xs md:text-sm flex items-center font-medium border-2 border-celeste-500 rounded focus:outline-none">
      Cancelar
    </button>
    <button matDialogClose  class="h-10 px-10 text-white text-xs md:text-sm flex items-center font-medium bg-celeste-500 rounded focus:outline-none">
      Guardar
    </button>

  </div>


