<div *ngIf="loadin"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex animated fadeIn transition  animated ease-out">
  <div
    class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 py-6 sm:align-middle sm:max-w-lg sm:w-full"
    role="dialog" aria-modal="true" aria-labelledby="modal-headline">
    <div class="py-5">
      <div class="flex justify-center">
        <div class="loader ">
          <div class="square"></div>
          <div class="path">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <h2 class="text-sm font-normal text-gray-600 text-center pt-3"> {{mensaje === null ? 'Generando Contrato....' :mensaje }}</h2>
    </div>

  </div>
</div>
<div *ngIf="loadin" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
