<div class="flex justify-between items-center  pb-2">
  <div class="flex flex-col md:flex-row  md:space-x-10">
    <h2 class="text-celeste-500 text-base font-medium">Detalle de Pago</h2>

    <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
      <span class="bg-red-600 w-3 h-3 rounded-full"></span>
      <span class="text-sm font-normal ml-2 text-gray-600">Por Pagar</span>
    </span>


    <span class="flex items-center  p-1 w-auto">
      <span class="text-sm  ml-2 text-gray-900 font-medium">Vence:</span>
      <span class="text-sm font-normal ml-2 text-gray-900">05 Marzo 2021</span>
    </span>
  </div>


  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
  <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
</div>

 <!-- (-- TABLA DETALLE DE PAGO-- ) -->
 <div class=" w-full  align-middle inline-block min-w-full  md:pt-5">
  <div class="relative overflow-x-auto  overflow-y-auto h-auto overflow-hidden" style="height: 36vh;">
      <table class=" table-auto w-full whitespace-no-wrap bg-white table-striped relative">
          <!-- Titulos de la Tabla -->
          <thead class="z-10">
              <tr class="text-sm text-left  border-b w-auto border-gray-200  text-black">
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3">Descripción de servicios FacTEDSOL [Lite] </th>
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3"> MONTOS</th>
              </tr>
          </thead>
          <!-- Contenido de la Tabla -->
          <tbody>
              <tr class="border-b w-full border-gray-200">
                  <!-- Descripcion -->
                  <td class="px-4 py-2 w-auto   text-sm font-normal  text-gray-900">
                      <span class="whitespace-nowrap text-left"> Envio de comprobantes elerctronicos (Febrero 2021) </span>
                  </td>
                  <!--Monto -->
                  <td class="px-4 py-2  text-sm w-auto font-normal">
                      <span class="text-left whitespace-nowrap  text-gray-900 py-2 font-medium">S/. 59.90 </span>
                  </td>
              </tr>
              <tr class="border-b w-full border-gray-200 ">
                  <!-- Descripcion -->
                  <td class="px-4 py-2 w-auto   text-sm font-normal  text-gray-900">
                      <span class="whitespace-nowrap text-left"> Validación de comprobantes electronicos (Febrero 2021) </span>
                  </td>
                  <!--Monto -->
                  <td class="px-4 py-2  text-sm w-auto font-normal">
                      <span class="text-left whitespace-nowrap  text-gray-900 py-2 font-medium"> S/. 247.56  </span>
                  </td>
              </tr>
              <tr class="border-b w-full border-gray-200 ">
                  <!-- Descripcion -->
                  <td class="px-4 py-2 w-auto   text-sm font-normal  text-gray-900">
                      <span class="whitespace-nowrap text-left"> Excedente (426 Comprobantes)) </span>
                  </td>
                  <!--Monto -->
                  <td class="px-4 py-2  text-sm w-auto font-normal">
                      <span class="text-left whitespace-nowrap  text-gray-900 py-2 font-medium">  S/. 11.96  </span>
                  </td>
              </tr>

          </tbody>

      </table>
  </div>

 <div class="flex justify-end items-center md:space-x-10">
   <div class="flex flex-col">
     <h1 class="text-gray-900 font-medium text-sm">Total:</h1>
     <h3 class="text-sm">Deuda de Febrero 2021</h3>
   </div>
   <div class="flex flex-row">
     <h1 class="text-gray-400  text-sm">s/.</h1>
     <h3 class="text-xl font-medium text-gray-900">568.96</h3>
   </div>
 </div>
</div>

