<main class="px-5 pt-7 grid grid-cols-1 md:grid-cols-3 md:gap-x-4 lg:gap-x-4 xl:gap-x-7   2xl:gap-x-10 animated fadeIn">

  <!-- section de infoacion y contatos -->
  <section class="col-span-3 sm:col-span-1 border border-gray-200 shadow-md rounded-md transition hover:shadow-lg py-5 2xl:mx-10">
   <div class="flex flex-col items-center justify-center space-y-2 p-3 border-b border-gray-200">
       <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.4 9.66667V0H0V29H7.73333V23.2H9.66667V29H27.0667V9.66667H17.4ZM4.83333 25.1333H2.9V23.2H4.83333V25.1333ZM4.83333 20.3H2.9V18.3667H4.83333V20.3ZM4.83333 15.4667H2.9V13.5333H4.83333V15.4667ZM4.83333 10.6333H2.9V8.7H4.83333V10.6333ZM4.83333 5.8H2.9V3.86667H4.83333V5.8ZM12.5667 3.86667H14.5V5.8H12.5667V3.86667ZM9.66667 20.3H7.73333V18.3667H9.66667V20.3ZM9.66667 15.4667H7.73333V13.5333H9.66667V15.4667ZM9.66667 10.6333H7.73333V8.7H9.66667V10.6333ZM9.66667 5.8H7.73333V3.86667H9.66667V5.8ZM14.5 25.1333H12.5667V23.2H14.5V25.1333ZM14.5 20.3H12.5667V18.3667H14.5V20.3ZM14.5 15.4667H12.5667V13.5333H14.5V15.4667ZM14.5 10.6333H12.5667V8.7H14.5V10.6333ZM25.1333 27.0667H17.4V25.1333H19.3333V23.2H17.4V20.3H19.3333V18.3667H17.4V15.4667H19.3333V13.5333H17.4V11.6H25.1333V27.0667Z" fill="#2DA6FE"/>
        <path d="M21.2676 23.1992H23.2009V25.1326H21.2676V23.1992Z" fill="#2DA6FE"/>
        <path d="M21.2676 18.3672H23.2009V20.3005H21.2676V18.3672Z" fill="#2DA6FE"/>
        <path d="M21.2676 13.5352H23.2009V15.4685H21.2676V13.5352Z" fill="#2DA6FE"/>
      </svg>
      <h1 class="text-gray-600 text-xs font-medium ">20164852771</h1>
      <h2 class="text-gray-800 text-xs font-medium ">NICACIO INGENIERIA Y CONSTRUCCIONES S.A.C</h2>
   </div>

   <div class="flex flex-col  justify-start space-y-2 px-5 py-3">
      <h1 class="text-gray-900 text-sm font-medium ">Sistema adquirido</h1>
      <h2 class="text-gray-500 text-xs font-medium flex items-center ">
        <span class="w-1 h-1 bg-gray-700 rounded-full mr-1"></span> FacTEDSOL [Lite] <span class="pl-2">
          <svg class="w-4 h-4 text-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
    </span>
    </h2>

      <h2 class="text-gray-500 text-xs font-medium flex items-center ">
        <span class="w-1 h-1 bg-gray-700 rounded-full mr-1"></span> FactuTED [Comercio] <span class="pl-2">
           <svg class="w-4 h-4 text-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </span>
      </h2>
   </div>

   <div class="flex items-center justify-between px-5 py-2">
    <h1 class="text-gray-900 text-sm font-medium ">Contactos</h1>
    <a (click)="nuevocontacto()" class="text-celeste-500 text-sm font-medium flex items-center hover:bg-gray-50 px-2  p-2 rounded hover:shadow-lg transition cursor-pointer focus:outline-none"><span>
        <svg class="w-4 h-4 text-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
    </span> Nuevo</a>
   </div>

   <!-- Section de contanctos -->
   <section class="space-y-1">
     <!-- contato 01 -->
    <a (click)="contactos()" class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between px-5">
      <div class="flex items-center">
        <span class=" bg-purple-600 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium">F</span>
        <span class="text-gray-700 text-sm pl-2">Febella Rosmery</span>
      </div>
      <span>
        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </span>
    </a>
<!-- contacto 02 -->
    <a (click)="contactos()"  class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between px-5">
      <div class="flex items-center">
       <div class=" bg-purple-600 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium">
         <img class="w-7 h-7 rounded-full object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-A41d8JfCKWwj8bLnP8udw3jOENZHlMJi_g&usqp=CAU" alt="">
       </div>
       <span class="text-gray-700 text-sm pl-2">Pedro Ruiz</span>
      </div>
      <span>
        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </span>
    </a>

    <!-- contacto 03 -->
    <a (click)="contactos()"  class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between px-5">
      <div class="flex items-center">
      <div class=" bg-yellow-500 text-white w-7 h-7 rounded-full  text-base flex justify-center items-center font-medium"> R  </div>
         <span class="text-gray-700 text-sm pl-2">René Malecio</span>
      </div>
      <span>
        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </span>
    </a>

    <!-- Ver mas -->
    <a (click)="vermascontactos()" class="flex items-center cursor-pointer hover:bg-gray-50 py-1 rounded-3xl  justify-between px-5">
      <div class="flex items-center">
       <div class=" bg-celeste-500 text-white w-7 h-7 rounded-full  text-sm   flex justify-center items-center font-medium"> +3</div>
       <span class="text-sm pl-2 text-celeste-500 font-medium">ver</span>
      </div>
    </a>

    <div class="flex justify-center items-center py-4">
      <button (click)="suspenderservicio()" class="py-2 px-5 text-white text-sm font-medium bg-celeste-500 rounded focus:outline-none">Suspender Servicio</button>
    </div>
   </section>
  </section>


  <section class="col-span-3 sm:col-span-2 border-b border-r border-l border-gray-200 shadow-md rounded-md transition hover:shadow-lg py-5  px-5">
    <div class="flex space-x-4 items-start">
      <!-- (DOCUMENTOS) -->
      <div>
        <button (click)="toggleTabs(1)" [ngClass]="{'text-celeste-500 bg-white tab': openTab !== 1, 'text-white  bg-celeste-500 border relative border-celeste-500': openTab === 1}"  class='focus:outline-none  w-auto  text-sm px-4 p-2 font-medium '>
            Documentos
          <svg  [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}"  class="w-12 h-10 fill-current text-celeste-500 -mt-1 absolute left-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M64 144l192 224l192-224H64z" /></svg>
        </button>
      </div>

      <!-- DEUDAS Y PAGOS -->
      <div>
        <button  (click)="toggleTabs(2)" [ngClass]="{'text-celeste-500 bg-white tab ': openTab !== 2, 'text-white  bg-celeste-500 border border-celeste-500': openTab === 2}" class='focus:outline-none w-auto relative text-sm p-2  px-4 font-medium '>
          Deudas y Pagos
          <span
            class="focus:outline-none absolute top-0 right-3 text-white text-sm -mt-4  w-6 h-6 font-normal py-1 bg-red-600 rounded-full">10</span>
            <svg  [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}"  class="w-12 h-10 fill-current text-celeste-500 -mt-1 absolute left-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M64 144l192 224l192-224H64z" /></svg>
        </button>
      </div>
    </div>

    <!-- Documentos -->
    <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
      <div  class="tab-content tab-space animated fadeIn  grid grid-cols-1 lg:grid-cols-2 gap-x-6 border-t border-gray-200  py-3 mt-5 px-5">
        <!-- Cotizacion -->
        <div class=" space-y-2 gap-x-6">
          <div class="flex items-center justify-center py-3">
            <h1 class="text-celeste-900 font-medium text-sm flex items-center">
              <span class="mr-3">
              <svg class="w-6 h-6 text-celeste-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
              </svg>
              </span>
              Cotizaciones
            </h1>
          </div>
            <!-- section descargar -->
          <div class="flex flex-col items-center justify-center space-y-3">
            <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
                <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
              <span class="pl-2">
              <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              </span>
            </button>

            <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
                <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
              <span class="pl-2">
              <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              </span>
            </button>

            <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
                <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
              <span class="pl-2">
              <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              </span>
            </button>

            <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
                <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
              <span class="pl-2">
              <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              </span>
            </button>

            <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
                <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
              <span class="pl-2">
              <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              </span>
            </button>

            <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
                <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
              <span class="pl-2">
              <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              </span>
            </button>
          </div>
       </div>

         <!-- Contrato -->
       <div class=" space-y-2  gap-x-6">
         <div class="flex items-center justify-center py-3">
           <h1 class="text-celeste-900 font-medium text-sm flex items-center"> <span class="mr-3">
             <svg class="w-6 h-6 text-celeste-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
           </svg></span>
           Contratos
         </h1>
         </div>
        <div class="flex flex-col items-center justify-center space-y-3">
          <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
            <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
          <span class="pl-2">
           <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
           </svg>
          </span>
        </button>

        <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
            <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
          <span class="pl-2">
           <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
           </svg>
          </span>
        </button>

        <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
            <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
          <span class="pl-2">
           <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
           </svg>
          </span>
        </button>
        <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
          <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
          </svg>
        <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
        <span class="pl-2">
         <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
         </svg>
        </span>
      </button>

      <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
          <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
          </svg>
        <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
        <span class="pl-2">
         <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
         </svg>
        </span>
      </button>

      <button class="py-3 px-5 border hover:bg-gray-100 border-gray-200 rounded flex items-center focus:outline-none cursor-pointer">
          <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
          </svg>
        <h3 class="text-gray-500 text-sm pl-2"> <span class="text-gray-900">Serie: 09590149-001</span>-24/03/2021</h3>
        <span class="pl-2">
         <svg class="text-celeste-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
         </svg>
        </span>
      </button>




        </div>
       </div>
       </div>
    </div>


<!-- Deudas y Pgos -->
    <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
      <div  class="tab-content tab-space animated fadeIn">
        <div class=" w-full  align-middle inline-block  md:pt-10">
          <div class="flex justify-between w-full">
            <div class="flex space-x-10 items-center w-full justify-start">

              <!-- todas -->
              <a (click)="toggleTab(1)" [ngClass]="{'text-gray-600': openTabs !== 1,' text-celeste-500 tabs': openTabs === 1}" class="relative w-full cursor-pointer text-sm py-1 px-2"> Todas
                 <span class="absolute w-2 h-2 bg-red-600 rounded-full  top-0 right-0 "></span>
              </a>

              <!-- factesol               -->
              <a (click)="toggleTab(2)" [ngClass]="{'text-gray-600': openTabs !== 2,' text-celeste-500 tabs': openTabs === 2}" class="relative w-full cursor-pointer text-sm py-1 px-2"> FacTEDSOL
                 <span class="absolute w-2 h-2 bg-red-600 rounded-full  top-0 right-0 "></span>
              </a>

              <!-- factuted -->
              <a (click)="toggleTab(3)" [ngClass]="{'text-gray-600': openTabs !== 3,' text-celeste-500 tabs': openTabs === 3}" class="relative w-full cursor-pointer text-sm py-1 px-2"> FactuTED
                 <span class="absolute w-2 h-2 bg-red-600 rounded-full  top-0 right-0 "></span>
              </a>

            <!-- Historial de pagos -->
              <a (click)="toggleTab(4)" [ngClass]="{'text-gray-600': openTabs !== 4,' text-celeste-500 tabs': openTabs === 4}" class=" cursor-pointer w-full text-sm py-1 px-2 whitespace-nowrap">Historial de Pagos </a>
             </div>

             <!-- button de  deudas -->
             <div class="flex  items-center justify-end w-full py-2 mt-3">
              <button (click)="AgregarDeuda()" class="h-10 px-10 text-white text-sm flex items-center font-medium bg-celeste-500 rounded focus:outline-none">
                <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
                Deuda
              </button>
            </div>
          </div>

          <div class="relative overflow-x-auto  overflow-y-auto h-auto overflow-hidden  mt-1" style="height: 50vh;">
              <table class=" table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                  <!-- Contenido de la Tabla -->
                  <tbody>

                      <tr class="border-t w-full border-gray-200 hover:bg-gray-50">
                          <!-- Mess -->
                          <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                            <div class="flex flex-row items-center">
                              <svg class="h-7 w-7 text-celeste-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <path d="M9 15l2 2l4 -4" /></svg>
                              <!-- <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span> -->
                               <div class="flex flex-col ml-2">
                                <span class="whitespace-nowrap text-left text-sm text-gray-600"> Motivo </span>
                               <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> Orden de Pago</span>
                              </div>
                            </div>
                        </td>
                          <!-- Vence -->
                          <td class="px-4 py-1  text-sm w-auto font-normal">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Vence  </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> 25 Febrero 2021</span>
                            </div>
                          </td>

                          <!-- Monto -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Monto </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> S/. 1500.99</span>
                            </div>
                          </td>

                          <!-- Estado -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                              <span class="bg-red-600 w-3 h-3 rounded-full"></span>
                              <span class="text-sm font-normal ml-2 text-gray-600">Por Pagar</span>
                            </span>
                          </td>

                          <!-- Alert -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="p-1 bg-gray-100 flex items-center w-9 h-9   rounded-full">
                              <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                              </svg>
                            </span>
                          </td>

                          <!-- Opciones -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <button [matMenuTriggerFor]="ordenpago"  class=" focus:outline-none">
                              <svg class="h-6 w-6 text-gray-800"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="5" cy="12" r="1" />  <circle cx="12" cy="12" r="1" />  <circle cx="19" cy="12" r="1" /></svg>
                            </button>
                          </td>

                          <!--OPCIONES (( VER-DETALLE -- VER COTIZACION --- ANULAR )) -->
                          <mat-menu #ordenpago="matMenu">
                            <!-- ver detalle -->
                            <button (click)="pasospagos()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 flex  items-center hover:text-white transition duration-300 ease-in py-2 px-1 w-full">
                              <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                              </svg>
                            <span class="pl-2">Orden Pago</span>
                            </button>
                          </mat-menu>
                      </tr>

                      <tr class="border-t w-full border-gray-200 hover:bg-gray-50">
                          <!-- Mess -->
                          <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                            <div class="flex flex-row items-center">
                              <svg class="h-7 w-7 text-celeste-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <path d="M9 15l2 2l4 -4" /></svg>
                              <!-- <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span> -->
                               <div class="flex flex-col ml-2">
                                <span class="whitespace-nowrap text-left text-sm text-gray-600"> Motivo </span>
                               <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> Orden de Pago</span>
                              </div>
                            </div>
                        </td>
                          <!-- Vence -->
                          <td class="px-4 py-1  text-sm w-auto font-normal">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Vence  </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> 25 Febrero 2021</span>
                            </div>
                          </td>

                          <!-- Monto -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Monto </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> S/. 1500.99</span>
                            </div>
                          </td>

                          <!-- Estado -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                              <span class="bg-red-600 w-3 h-3 rounded-full"></span>
                              <span class="text-sm font-normal ml-2 text-gray-600">Por Pagar</span>
                            </span>
                          </td>

                          <!-- Alert -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="p-1 bg-gray-100 flex items-center w-9 h-9   rounded-full">
                              <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                              </svg>
                            </span>
                          </td>

                          <!-- Opciones -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <button [matMenuTriggerFor]="opcion"  class=" focus:outline-none">
                              <svg class="h-6 w-6 text-gray-800"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="5" cy="12" r="1" />  <circle cx="12" cy="12" r="1" />  <circle cx="19" cy="12" r="1" /></svg>
                            </button>
                          </td>

                          <!--OPCIONES (( VER-DETALLE -- VER COTIZACION --- ANULAR )) -->
                          <mat-menu #opcion="matMenu">
                            <!-- ver detalle -->
                            <button (click)="verDetallePago()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 flex  items-center hover:text-white transition duration-300 ease-in py-2 px-1 w-full">
                              <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                              </svg>
                            <span class="pl-2">Ver Detalle</span>
                            </button>

                            <!-- Editar -->
                            <button (click)="editarpago()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 hover:text-white transition duration-300 ease-in py-2 px-1 flex items-center w-full">
                              <svg class="w-6 h-6 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                              <span class="pl-2">Editar</span>
                            </button>
                          </mat-menu>
                      </tr>

                      <tr class="border-t w-full border-gray-200 hover:bg-gray-50">
                          <!-- Mess -->
                          <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                            <div class="flex flex-row items-center">
                              <!-- <svg class="h-7 w-7 text-celeste-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <path d="M9 15l2 2l4 -4" /></svg> -->
                              <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span>
                               <div class="flex flex-col ml-2">
                                <span class="whitespace-nowrap text-left text-sm text-gray-600"> Motivo </span>
                               <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> Orden de Pago</span>
                              </div>
                            </div>
                        </td>
                          <!-- Vence -->
                          <td class="px-4 py-1  text-sm w-auto font-normal">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Vence  </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> 25 Febrero 2021</span>
                            </div>
                          </td>

                          <!-- Monto -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Monto </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> S/. 1500.99</span>
                            </div>
                          </td>

                          <!-- Estado -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                              <span class="bg-green-500 w-3 h-3 rounded-full"></span>
                              <span class="text-sm font-normal ml-2 text-gray-600">Pagado</span>
                            </span>
                          </td>

                          <!-- Alert -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="p-1 bg-gray-100 flex items-center w-9 h-9   rounded-full">
                              <svg class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                              </svg>
                            </span>
                          </td>

                          <!-- Opciones -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <button [matMenuTriggerFor]="opcion"  class=" focus:outline-none">
                              <svg class="h-6 w-6 text-gray-800"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="5" cy="12" r="1" />  <circle cx="12" cy="12" r="1" />  <circle cx="19" cy="12" r="1" /></svg>
                            </button>
                          </td>

                          <!--OPCIONES (( VER-DETALLE -- VER COTIZACION --- ANULAR )) -->
                          <mat-menu #opcion="matMenu">
                            <!-- ver detalle -->
                            <button (click)="verDetallePago()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 flex  items-center hover:text-white transition duration-300 ease-in py-2 px-1 w-full">
                              <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                              </svg>
                            <span class="pl-2">Ver Detalle</span>
                            </button>

                            <!-- Editar -->
                            <button (click)="editarpago()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 hover:text-white transition duration-300 ease-in py-2 px-1 flex items-center w-full">
                              <svg class="w-6 h-6 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                              <span class="pl-2">Editar</span>
                            </button>
                          </mat-menu>
                      </tr>

                      <tr class="border-t w-full border-gray-200 hover:bg-gray-50">
                          <!-- Mess -->
                          <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                            <div class="flex flex-row items-center">
                              <!-- <svg class="h-7 w-7 text-celeste-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 3v4a1 1 0 0 0 1 1h4" />  <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />  <path d="M9 15l2 2l4 -4" /></svg> -->
                              <span class="  bg-red-600 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FS</span>
                               <div class="flex flex-col ml-2">
                                <span class="whitespace-nowrap text-left text-sm text-gray-600"> Motivo </span>
                               <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> Orden de Pago</span>
                              </div>
                            </div>
                        </td>
                          <!-- Vence -->
                          <td class="px-4 py-1  text-sm w-auto font-normal">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Vence  </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> 25 Febrero 2021</span>
                            </div>
                          </td>

                          <!-- Monto -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <div class="flex flex-col ml-2">
                              <span class="whitespace-nowrap text-left text-sm text-gray-600"> Monto </span>
                             <span class="whitespace-nowrap text-left text-gray-700 text-sm font-medium"> S/. 1500.99</span>
                            </div>
                          </td>

                          <!-- Estado -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                              <span class="bg-red-600 w-3 h-3 rounded-full"></span>
                              <span class="text-sm font-normal ml-2 text-gray-600">Por Pagar</span>
                            </span>
                          </td>

                          <!-- Alert -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <span class="p-1 bg-gray-100 flex items-center w-9 h-9   rounded-full">
                              <svg class="w-6 h-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                              </svg>
                            </span>
                          </td>

                          <!-- Opciones -->
                          <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                            <button [matMenuTriggerFor]="opcion"  class=" focus:outline-none">
                              <svg class="h-6 w-6 text-gray-800"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="5" cy="12" r="1" />  <circle cx="12" cy="12" r="1" />  <circle cx="19" cy="12" r="1" /></svg>
                            </button>
                          </td>

                          <!--OPCIONES (( VER-DETALLE -- VER COTIZACION --- ANULAR )) -->
                          <mat-menu #opcion="matMenu">
                            <!-- ver detalle -->
                            <button (click)="verDetallePago()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 flex  items-center hover:text-white transition duration-300 ease-in py-2 px-1 w-full">
                              <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                              </svg>
                            <span class="pl-2">Ver Detalle</span>
                            </button>

                            <!-- Editar -->
                            <button (click)="editarpago()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 hover:text-white transition duration-300 ease-in py-2 px-1 flex items-center w-full">
                              <svg class="w-6 h-6 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                              <span class="pl-2">Editar</span>
                            </button>
                          </mat-menu>
                      </tr>

                  </tbody>
              </table>
          </div>
        </div>

       </div>
    </div>

  </section>
</main>





