<!-- loading pages -->
<app-spinner> </app-spinner>

 <!-- TABLA DE LISTADO DE CLIENTES -->
 <main class=" w-full align-middle inline-block min-w-full  md:pt-5">
   <h1 class="text-sm uppercase font-medium text-gray-700 pl-2">Listado</h1>
  <div class="relative overflow-x-auto  overflow-y-auto h-auto overflow-hidden border border-gray-100 shadow-lg" style="height: 65vh;">
      <table class=" table-auto w-full whitespace-no-wrap bg-white table-striped relative">
          <!-- Titulos de la Tabla -->
          <thead class="z-50 relative">
              <tr class="  text-sm text-left   border-b w-auto border-gray-200  text-black">
                  <th scope="col" class="font-medium  whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-3"> Cliente </th>
                  <th scope="col" class="font-medium  whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-3"> Sistema(s)</th>
                  <th scope="col" class="font-medium  whitespace-nowrap  sticky top-0 px-4  w-auto   bg-gray-50 py-3">

                    <button [matMenuTriggerFor]="Estado" class="text-black text-sm py-1   focus:outline-none  flex items-center font-medium">Estado
                      <span class="pl-2">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M5 6L0.669872 0.75L9.33013 0.75L5 6Z" fill="#404040" />   </svg>
                      </span>
                    </button>
                    <!-- opciones de busqueda -->
                    <mat-menu #Estado="matMenu" >
                        <button class="text-sm font-medium focus:outline-none text-center hover:bg-gray-800 transition duration-300 ease-in hover:text-white py-2  w-full ">Todos</button>
                        <button class="text-sm font-medium focus:outline-none text-center hover:bg-gray-800 transition duration-300 ease-in hover:text-white py-2  w-full ">Por Pagar</button>
                        <button class="text-sm font-medium focus:outline-none text-center hover:bg-gray-800 transition duration-300 ease-in hover:text-white py-2  w-full ">Pagado</button>
                    </mat-menu>
                  </th>

                  <th scope="col" class="font-medium  whitespace-nowrap   sticky top-0 px-4  w-auto   bg-gray-50 py-3">
                    <button [matMenuTriggerFor]="suspendida"  class="text-black text-sm py-1   focus:outline-none  flex items-center font-medium">Suspendida/activa
                      <span class="pl-2">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none"   xmlns="http://www.w3.org/2000/svg">    <path d="M5 6L0.669872 0.75L9.33013 0.75L5 6Z" fill="#404040" />     </svg>
                      </span>
                    </button>

                    <!-- opciones de buscar -->
                    <mat-menu #suspendida="matMenu">
                        <button class="text-sm font-medium focus:outline-none text-center hover:bg-gray-800 transition duration-300 ease-in hover:text-white py-2  w-full ">Todos</button>
                        <button class="text-sm font-medium focus:outline-none text-center hover:bg-gray-800 transition duration-300 ease-in hover:text-white py-2  w-full ">Por Pagar</button>
                        <button class="text-sm font-medium focus:outline-none text-center hover:bg-gray-800 transition duration-300 ease-in hover:text-white py-2  w-full ">Pagado</button>
                    </mat-menu>
                  </th>

                  <th  scope="col" class="font-medium whitespace-nowrap   sticky top-0 px-4 w-auto bg-gray-50  py-3"> </th>
              </tr>

          </thead>
          <!-- Contenido de la Tabla -->
          <tbody>
              <tr class="border-b w-full border-gray-200 ">
                  <!-- cliente -->
                  <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                      <div class="flex flex-row items-center">
                       <span class="bg-gray-900 p-1 rounded">
                        <svg class="w-6 h-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M320 176V16H32v480h128v-96h32v96h288V176zM112 432H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80V80h32zm128-32h32v32h-32zm-48 272h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32V80h32zm80 320h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32v32zm176 272H320v-32h32v-32h-32v-48h32v-32h-32v-48h32v-32h-32v-32h128z" /><path d="M384 400h32v32h-32z" /><path d="M384 320h32v32h-32z" /><path d="M384 240h32v32h-32z" /></svg>                                   </span>
                        <div class="flex flex-col ml-2">
                          <span class="whitespace-nowrap text-left text-sm text-gray-700"> 00123300223 </span>
                         <span class="whitespace-nowrap text-left text-gray-900 text-sm font-medium"> The new your inquirer</span>
                        </div>
                      </div>
                  </td>

                  <!-- Sistemas -->
                  <td class="px-4 py-1 text-sm w-auto font-normal">
                    <div class="flex flex-row space-x-3 w-full">
                      <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span>
                      <span class="  bg-red-600 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FS</span>
                    </div>
                  </td>
                  <!-- Estado -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <!-- por pagar -->
                      <!-- <span class="flex items-center bg-gray-100 rounded-3xl p-1 w-auto">
                        <span class="bg-red-600 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Por pagar</span>
                      </span> -->
                      <!-- pagado -->
                      <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                        <span class="bg-celeste-750 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Pagado</span>
                      </span>
                  </td>

                  <!-- suspendida /activa -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <mat-slide-toggle [(ngModel)]="isChecked"> </mat-slide-toggle>
                  </td>

                     <!-- Sistemas -->
                    <td class="px-4 py-1  text-sm w-auto font-normal">
                      <button routerLink="/documentos" class="p-2 bg-gray-50 rounded focus:outline-none">
                        <svg class="w-5 h-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                          <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                        </svg>
                      </button>
                  </td>
              </tr>
              <tr class="border-b w-full border-gray-200 ">
                  <!-- cliente -->
                  <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                      <div class="flex flex-row items-center">
                       <span class="bg-gray-900 p-1 rounded">
                        <svg class="w-6 h-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M320 176V16H32v480h128v-96h32v96h288V176zM112 432H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80V80h32zm128-32h32v32h-32zm-48 272h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32V80h32zm80 320h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32v32zm176 272H320v-32h32v-32h-32v-48h32v-32h-32v-48h32v-32h-32v-32h128z" /><path d="M384 400h32v32h-32z" /><path d="M384 320h32v32h-32z" /><path d="M384 240h32v32h-32z" /></svg>                                   </span>
                        <div class="flex flex-col ml-2">
                          <span class="whitespace-nowrap text-left text-sm text-gray-700"> 00123300223 </span>
                         <span class="whitespace-nowrap text-left text-gray-900 text-sm font-medium"> The new your inquirer</span>
                        </div>
                      </div>
                  </td>

                  <!-- Sistemas -->
                  <td class="px-4 py-1 text-sm w-auto font-normal">
                    <div class="flex flex-row space-x-3 w-full">
                      <!-- <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span> -->
                      <span class="  bg-red-600 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FS</span>
                    </div>
                  </td>
                  <!-- Estado -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <!-- por pagar -->
                      <span class="flex items-center bg-gray-100 rounded-3xl p-1 w-auto">
                        <span class="bg-red-600 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Por pagar</span>
                      </span>
                      <!-- pagado -->
                      <!-- <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                        <span class="bg-celeste-750 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Pagado</span>
                      </span> -->
                  </td>

                  <!-- suspendida /activa -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <mat-slide-toggle > </mat-slide-toggle>
                  </td>

                     <!-- Sistemas -->
                    <td class="px-4 py-1  text-sm w-auto font-normal">
                      <button routerLink="/documentos" class="p-2 bg-gray-50 rounded focus:outline-none">
                        <svg class="w-5 h-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                          <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                        </svg>
                      </button>
                  </td>
              </tr>
              <tr class="border-b w-full border-gray-200 ">
                  <!-- cliente -->
                  <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                      <div class="flex flex-row items-center">
                       <span class="bg-gray-900 p-1 rounded">
                        <svg class="w-6 h-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M320 176V16H32v480h128v-96h32v96h288V176zM112 432H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80V80h32zm128-32h32v32h-32zm-48 272h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32V80h32zm80 320h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32v32zm176 272H320v-32h32v-32h-32v-48h32v-32h-32v-48h32v-32h-32v-32h128z" /><path d="M384 400h32v32h-32z" /><path d="M384 320h32v32h-32z" /><path d="M384 240h32v32h-32z" /></svg>                                   </span>
                        <div class="flex flex-col ml-2">
                          <span class="whitespace-nowrap text-left text-sm text-gray-700"> 00123300223 </span>
                         <span class="whitespace-nowrap text-left text-gray-900 text-sm font-medium"> The new your inquirer</span>
                        </div>
                      </div>
                  </td>

                  <!-- Sistemas -->
                  <td class="px-4 py-1 text-sm w-auto font-normal">
                    <div class="flex flex-row space-x-3 w-full">
                      <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span>
                      <span class="  bg-red-600 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FS</span>
                    </div>
                  </td>
                  <!-- Estado -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <!-- por pagar -->
                      <!-- <span class="flex items-center bg-gray-100 rounded-3xl p-1 w-auto">
                        <span class="bg-red-600 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Por pagar</span>
                      </span> -->
                      <!-- pagado -->
                      <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                        <span class="bg-celeste-750 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Pagado</span>
                      </span>
                  </td>

                  <!-- suspendida /activa -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <mat-slide-toggle [(ngModel)]="isChecked"> </mat-slide-toggle>
                  </td>

                     <!-- Sistemas -->
                    <td class="px-4 py-1  text-sm w-auto font-normal">
                      <button routerLink="/documentos" class="p-2 bg-gray-50 rounded focus:outline-none">
                        <svg class="w-5 h-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                          <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                        </svg>
                      </button>
                  </td>
              </tr>
              <tr class="border-b w-full border-gray-200 ">
                  <!-- cliente -->
                  <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                      <div class="flex flex-row items-center">
                       <span class="bg-gray-900 p-1 rounded">
                        <svg class="w-6 h-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M320 176V16H32v480h128v-96h32v96h288V176zM112 432H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80v-32h32zm0-80H80V80h32zm128-32h32v32h-32zm-48 272h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32V80h32zm80 320h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32zm0-80h-32v-32h32v32zm176 272H320v-32h32v-32h-32v-48h32v-32h-32v-48h32v-32h-32v-32h128z" /><path d="M384 400h32v32h-32z" /><path d="M384 320h32v32h-32z" /><path d="M384 240h32v32h-32z" /></svg>                                   </span>
                        <div class="flex flex-col ml-2">
                          <span class="whitespace-nowrap text-left text-sm text-gray-700"> 00123300223 </span>
                         <span class="whitespace-nowrap text-left text-gray-900 text-sm font-medium"> The new your inquirer</span>
                        </div>
                      </div>
                  </td>

                  <!-- Sistemas -->
                  <td class="px-4 py-1 text-sm w-auto font-normal">
                    <div class="flex flex-row space-x-3 w-full">
                      <!-- <span class="  bg-celeste-500 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FT</span> -->
                      <span class="  bg-red-600 text-white w-7 h-7 rounded-full  text-base  flex justify-center items-center font-medium">FS</span>
                    </div>
                  </td>
                  <!-- Estado -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <!-- por pagar -->
                      <span class="flex items-center bg-gray-100 rounded-3xl p-1 w-auto">
                        <span class="bg-red-600 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Por pagar</span>
                      </span>
                      <!-- pagado -->
                      <!-- <span class="flex items-center bg-gray-100 rounded-3xl  p-1 w-auto">
                        <span class="bg-celeste-750 w-3 h-3 rounded-full"></span>
                        <span class="text-sm font-normal ml-2 text-gray-600">Pagado</span>
                      </span> -->
                  </td>

                  <!-- suspendida /activa -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <mat-slide-toggle > </mat-slide-toggle>
                  </td>

                     <!-- Sistemas -->
                    <td class="px-4 py-1  text-sm w-auto font-normal">
                      <button routerLink="/documentos" class="p-2 bg-gray-50 rounded focus:outline-none">
                        <svg class="w-5 h-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                          <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                        </svg>
                      </button>
                  </td>
              </tr>





          </tbody>
      </table>
  </div>
  <span class="text-sm font-medium text-gray-600  flex justify-end">Mostrato 5 Items</span>
</main>
