
<div class="flex h-screen overflow-y-hidden bg-white">
  <div class="flex flex-col flex-1 h-full overflow-hidden">
   <app-navbar> </app-navbar>
   <app-sidebar> </app-sidebar>
    <main class="flex-1 max-h-full px-5 overflow-hidden overflow-y-scroll wrapper">
    <router-outlet> </router-outlet>
    </main>
  </div>
</div>
