 <!-- loading pages -->
<app-spinner> </app-spinner>
<!-- loading pages -->


<main class="px-5 py-5">
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 sm:gap-2 space-y-2 sm:space-y-0 pt-4">
      <div class="w-full">
        <button class='focus:outline-none btn-contr'>Todos
          <svg class="w-12 h-10 fill-current text-celeste-500 -mt-1 absolute left-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M64 144l192 224l192-224H64z" /></svg>
        </button>
      </div>

      <div class="w-full">
        <button class='focus:outline-none btn-controls'> Solicitó Contrato
        <span class="bagde">1</span>
        </button>
      </div>

      <div class="w-full">
        <button class='focus:outline-none btn-controls'> Solo Cotizo
        <span class="bagde">1</span>
        </button>
      </div>

      <div class="w-full">
        <button class='focus:outline-none btn-controls'> Solicitó Registrado
        <span class="bagde">10</span>
        </button>
      </div>

      <div class="w-full">
        <button class='focus:outline-none btn-controls'> Solicitó Contrato
        <span class="bagde">1</span>
        </button>
      </div>

      <div class="w-full">
        <button class='focus:outline-none btn-controls'> Solo Cotizo
        <span class="bagde">1</span>
        </button>
      </div>
      <div class="w-full">
        <button class='focus:outline-none btn-controls'> Solo Cotizo
        <span class="bagde">1</span>
        </button>
      </div>

      <!-- filtrar datros -->
      <div class="w-full relative">
        <button (click)="Dropdownsfiltrar()"
        class='filtrar focus:outline-none hover:text-white hover:bg-celeste-500'>
        <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"  clip-rule="evenodd" />
        </svg>
        <span class="pl-2">Filtros</span>
      </button>


        <!-- Dropdown filtrar -->
        <div *ngIf="Dropdowns" class="absolute right-0 z-50 mt-2 overflow-hidden bg-white rounded-md shadow-lg w-80 dark:bg-gray-800">
          <form action="" class="px-4 space-y-3 py-5">
            <!--Fecha de Inicio -->
            <div class="w-full md:mb-2">
              <label class="text-gray-800 block font-medium text-sm w-full pb-1">Fecha Inicio:</label>
              <div class="flex w-full border  rounded px-4  border-gray-300 ">
                <input class="px-2 w-full py-2 focus:outline-none placeholder-gray-500  text-sm" placeholder="17/10/2020" [matDatepicker]="fechainicio">
                <mat-datepicker #fechainicio> </mat-datepicker>
                <button type="button" (click)="fechainicio.open()" class="focus:outline-none cursor-pointer  rounded-full w-10 h-9 p-1 flex  border-white  items-center justify-center  hover:bg-gray-200 focus:bg-gray-200 transition duration-300 ease-in">
                  <svg class="w-6 h-6 fill-current text-gray-800" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M15 4h3v15H2V4h3V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1h4V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1zM6 3v2.5a.491.491 0 0 0 .5.5a.491.491 0 0 0 .5-.5V3c0-.14-.05-.26-.15-.35c-.09-.1-.21-.15-.35-.15s-.26.05-.35.15c-.1.09-.15.21-.15.35zm7 0v2.5c0 .14.05.26.14.36c.1.09.22.14.36.14s.26-.05.36-.14c.09-.1.14-.22.14-.36V3a.491.491 0 0 0-.5-.5a.491.491 0 0 0-.5.5zm4 15V8H3v10h14zM7 9v2H5V9h2zm2 0h2v2H9V9zm4 2V9h2v2h-2zm-6 1v2H5v-2h2zm2 0h2v2H9v-2zm4 2v-2h2v2h-2zm-6 1v2H5v-2h2zm4 2H9v-2h2v2zm4 0h-2v-2h2v2z" /></svg>
                </button>
            </div>
              <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>
            <!-- Fecha Fin -->
            <div class="w-full md:mb-2">
              <label class="text-gray-800 block font-medium text-sm w-full pb-1">Fecha fin:</label>
              <div class="flex w-full border  rounded px-4  border-gray-300 ">
                <input class="px-2 w-full py-2 focus:outline-none placeholder-gray-500  text-sm" placeholder="17/10/2020" [matDatepicker]="fechafin">
                <mat-datepicker #fechafin> </mat-datepicker>
                <button type="button" (click)="fechafin.open()" class="focus:outline-none cursor-pointer rounded-full w-10 h-9 p-1 flex  border-white  items-center justify-center  hover:bg-gray-200 focus:bg-gray-200 transition duration-300 ease-in">
                  <svg class="w-6 h-6 fill-current text-gray-800" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M15 4h3v15H2V4h3V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1h4V3c0-.41.15-.76.44-1.06c.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1zM6 3v2.5a.491.491 0 0 0 .5.5a.491.491 0 0 0 .5-.5V3c0-.14-.05-.26-.15-.35c-.09-.1-.21-.15-.35-.15s-.26.05-.35.15c-.1.09-.15.21-.15.35zm7 0v2.5c0 .14.05.26.14.36c.1.09.22.14.36.14s.26-.05.36-.14c.09-.1.14-.22.14-.36V3a.491.491 0 0 0-.5-.5a.491.491 0 0 0-.5.5zm4 15V8H3v10h14zM7 9v2H5V9h2zm2 0h2v2H9V9zm4 2V9h2v2h-2zm-6 1v2H5v-2h2zm2 0h2v2H9v-2zm4 2v-2h2v2h-2zm-6 1v2H5v-2h2zm4 2H9v-2h2v2zm4 0h-2v-2h2v2z" /></svg>
                </button>
            </div>
              <!-- <p class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>
              <!-- Estado-->
              <div class="w-full sm:mb-1 md:mb-2">
                <label class="block w-full pb-1 text-sm font-medium text-black ">Estado</label>
                <mat-select type="text" name="tipouser" required placeholder="Elige Estado" class="w-full sm:mb-1 text-sm py-2 px-2 rounded-md border  border-gray-400 focus">
                    <mat-option value="01">Activo</mat-option>
                    <mat-option value="01">Inactivo</mat-option>
                </mat-select>
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
              </div>

            <!-- Sistema-->
            <div class="w-full sm:mb-1 md:mb-2">
              <label class="block w-full pb-1 text-sm font-medium text-black ">Sistema</label>
              <mat-select type="text" name="tipouser" required placeholder="Elige Sistema" class="w-full sm:mb-1 text-sm py-2 px-2 rounded-md  border border-gray-400 focus">
                  <mat-option value="01">FacTEDSOL</mat-option>
                  <mat-option value="01">FactuTED</mat-option>
              </mat-select>
              <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <!-- button aplicar  -->
            <div class="pt-8">
              <button (click)="Dropdownsfiltrar()" class="py-3 px-2 focus:outline-none outline-noneT text-sm bg-celeste-500 rounded-md text-white w-full">Aplicar</button>
            </div>
          </form>
        </div>
        <div *ngIf="Dropdowns" class="opacity-5 fixed inset-0 z-40 bg-black"></div>
      </div>
  </section>

 <!-- (-- TABLA CONTROL DATOS-- ) -->
 <div class=" w-full  align-middle inline-block min-w-full  md:pt-10">
  <div class="relative overflow-x-auto  overflow-y-auto h-auto overflow-hidden border border-gray-100 shadow-lg" style="height: 56vh;">
      <table class=" table-auto w-full whitespace-no-wrap bg-white table-striped relative">
          <!-- Titulos de la Tabla -->
          <thead class="z-10">
              <tr class="text-sm text-left  border-b w-auto border-gray-200  text-black">
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3"> Sistema </th>
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3"> Estado</th>
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3">Registro</th>
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3">Cliente</th>
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3">Persona Registrada</th>
                  <th scope="col" class="font-medium whitespace-nowrap  sticky top-0 px-4 w-auto bg-gray-50  py-3"></th>
              </tr>
          </thead>
          <!-- Contenido de la Tabla -->
          <tbody>
              <tr class="border-b w-full border-gray-200 ">
                  <!-- sistema -->
                  <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                      <span class="whitespace-nowrap text-left"> FacTEDSOL </span>
                  </td>
                  <!--Estado -->
                  <td class="px-4 py-1  text-sm w-auto font-normal">
                      <span class="text-left whitespace-nowrap bg-yellow-100 text-yellow-900 py-1 px-4 font-medium rounded-lg">Anulado</span>
                  </td>

                  <!-- Registro -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                      <span class="whitespace-nowrap text-left">14/02/2021</span>
                  </td>

                  <!-- cliente -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                      <div class="whitespace-nowrap text-left">NICACIO INGENIERIA Y CONSTRUCCIONES S.A.C</div>
                      <div class="whitespace-nowrap text-left">951540168</div>
                  </td>
                  <!-- Persona Registrada -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                      <div class="whitespace-nowrap text-left">Juan Davila Rodriguez</div>

                  </td>

                  <!-- Agregar  -->
                  <td class="py-1 px-4 w-auto text-sm ">
                      <div class="flex justify-center">
                          <button  class="py-2 px-6  text-sm font-medium  text-white  hover:bg-gray-50 ease-in focus:outline-none rounded ">
                            <svg class="w-7 h-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                              <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                          </button>
                      </div>
                  </td>
              </tr>

              <tr class="border-b w-full border-gray-200 ">
                  <!-- sistema -->
                  <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                      <span class="whitespace-nowrap text-left"> FacTEDSOL </span>
                  </td>
                  <!-- estado -->
                  <td class="px-4 py-1  text-sm w-auto font-normal">
                      <span class="text-left whitespace-nowrap text-blue-800 py-1 px-2 font-medium rounded-lg">Solicito Contrato</span>
                  </td>
                  <!-- registro -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                      <span class="whitespace-nowrap text-left">14/02/2021</span>
                  </td>
                  <!-- cliente -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                      <div class="whitespace-nowrap text-left">NICACIO INGENIERIA Y CONSTRUCCIONES S.A.C</div>
                      <div class="whitespace-nowrap text-left">951540168</div>
                  </td>
                  <!-- persona registrada -->
                  <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                      <div class="whitespace-nowrap text-left">Juan Davila Rodriguez</div>
                  </td>

                  <!-- Agregar  -->
                  <td class="py-1 px-4 w-auto text-sm ">
                      <div class="flex justify-center">
                          <button [matMenuTriggerFor]="opcion" class="py-2 px-6  text-sm font-medium  text-white  hover:bg-gray-50 ease-in focus:outline-none rounded ">
                            <svg class="w-7 h-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                              <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                          </button>
                      </div>
                  </td>

                  <!--OPCIONES (( VER-DETALLE -- VER COTIZACION --- ANULAR )) -->
                <mat-menu #opcion="matMenu">
                    <!-- ver detalle -->
                    <button (click)="verDetalle()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 flex  items-center hover:text-white transition duration-300 ease-in py-2 px-1 w-full">
                      <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                      </svg>
                     <span class="pl-2">Ver Detalle</span>
                    </button>

                    <!-- ver cotizacion -->
                    <button (click)="verContizacion()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 hover:text-white transition duration-300 flex items-center ease-in py-2 px-1 w-full">
                      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                      </svg>
                      <span class="pl-2">Ver Cotización</span>
                    </button>

                    <!-- Anular -->
                    <button class="text-sm font-medium focus:outline-none hover:bg-gray-800 hover:text-white transition duration-300 ease-in py-2 px-1 flex items-center w-full">
                      <svg class="w-6 h-6 fill-current" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5655 14.9657L14.7999 10.7314L19.0342 14.9657L20.1655 13.8344L15.9312 9.60003L20.1655 5.36568L19.0342 4.23438L14.7999 8.46868L10.5655 4.23438L9.4342 5.36568L13.6685 9.60003L9.4342 13.8344L10.5655 14.9657Z" />
                        <path d="M22.8 0H8.9322C8.76923 0.000270397 8.60801 0.033609 8.45829 0.0979977C8.30858 0.162386 8.17349 0.256486 8.0612 0.3746L0 8.88115V10.3189L8.0612 18.8254C8.17349 18.9435 8.30858 19.0376 8.45829 19.102C8.60801 19.1664 8.76923 19.1997 8.9322 19.2H22.8C23.1181 19.1996 23.4232 19.0731 23.6481 18.8481C23.8731 18.6232 23.9996 18.3181 24 18V1.2C23.9996 0.881854 23.8731 0.576844 23.6481 0.351881C23.4232 0.126918 23.1181 0.000370522 22.8 0ZM22.4 17.6H9.1042L1.6 9.68115V9.51885L9.1042 1.6H22.4V17.6Z" />
                        </svg>
                      <span class="pl-2">Anular</span>
                    </button>
                </mat-menu>
              </tr>

              <tr class="border-b w-full border-gray-200 ">
                <!--Sistema -->
                <td class="px-4 py-1 w-auto   text-sm font-normal  text-gray-900">
                    <span class="whitespace-nowrap text-left"> FacTEDSOL </span>
                </td>
                <!-- estado -->
                <td class="px-4 py-1  text-sm w-auto font-normal">
                    <span class="text-left whitespace-nowrap text-red-600 bg-red-50 py-1 px-2 font-medium rounded-lg">Firma Pendiente</span>
                </td>
                <!-- registrado -->
                <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <span class="whitespace-nowrap text-left">14/02/2021</span>
                </td>
                <!-- cliente -->
                <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <div class="whitespace-nowrap text-left">NICACIO INGENIERIA Y CONSTRUCCIONES S.A.C</div>
                    <div class="whitespace-nowrap text-left">951540168</div>
                </td>

                <!-- nombre regitsrado -->
                <td class="px-4  w-auto py-1  text-sm  font-normal  text-gray-900">
                    <div class="whitespace-nowrap text-left">Juan Davila Rodriguez</div>
                </td>

                <!-- Agregar  -->
                <td class="py-1 px-4 w-auto text-sm ">
                    <div class="flex justify-center">
                        <button [matMenuTriggerFor]="opciones" class="py-2 px-6  text-sm font-medium  text-white  hover:bg-gray-50 ease-in focus:outline-none rounded ">
                          <svg class="w-7 h-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                          </svg>
                        </button>

                    </div>
                </td>
                <!-- OPCIONES DE (VERIFICAR  --ANULAR) -->
              <mat-menu #opciones="matMenu" >
                  <!-- verificar -->
                  <button (click)="verficacion()" class="text-sm font-medium focus:outline-none hover:bg-gray-800 hover:text-white transition duration-300 flex items-center ease-in py-2 px-1 w-full">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                    <span class="pl-2">Vericar</span>
                  </button>
                  <!-- ANULAR -->
                  <button class="text-sm font-medium focus:outline-none hover:bg-gray-800 hover:text-white transition duration-300 ease-in py-2 px-1 flex items-center w-full">
                    <svg class="w-6 h-6 fill-current" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.5655 14.9657L14.7999 10.7314L19.0342 14.9657L20.1655 13.8344L15.9312 9.60003L20.1655 5.36568L19.0342 4.23438L14.7999 8.46868L10.5655 4.23438L9.4342 5.36568L13.6685 9.60003L9.4342 13.8344L10.5655 14.9657Z" />
                      <path d="M22.8 0H8.9322C8.76923 0.000270397 8.60801 0.033609 8.45829 0.0979977C8.30858 0.162386 8.17349 0.256486 8.0612 0.3746L0 8.88115V10.3189L8.0612 18.8254C8.17349 18.9435 8.30858 19.0376 8.45829 19.102C8.60801 19.1664 8.76923 19.1997 8.9322 19.2H22.8C23.1181 19.1996 23.4232 19.0731 23.6481 18.8481C23.8731 18.6232 23.9996 18.3181 24 18V1.2C23.9996 0.881854 23.8731 0.576844 23.6481 0.351881C23.4232 0.126918 23.1181 0.000370522 22.8 0ZM22.4 17.6H9.1042L1.6 9.68115V9.51885L9.1042 1.6H22.4V17.6Z" />
                    </svg>
                    <span class="pl-2">Anular</span>
                  </button>
              </mat-menu>
              </tr>
          </tbody>
      </table>
  </div>
  <span class="text-sm font-medium text-gray-600  flex justify-end">Mostrato 5 Items</span>
</div>

<!-- Section de leyend -->
  <h1 class="text-sm font-medium text-gray-900 uppercase">Leyenda</h1>
  <div class="flex flex-row space-x-4">
    <!-- Solicito contrat -->
      <label class="inline-flex items-center mt-3">
        <input type="checkbox" class="form-checkbox leyend text-celeste-500" checked>
        <span class="ml-2 text-gray-900 text-sm">Solicitó Contrato</span>
      </label>
  <!-- solo xcotizo -->
      <label class="inline-flex items-center mt-3">
        <input type="checkbox" class="form-checkbox leyend text-celeste-500" checked>
        <span class="ml-2 text-gray-900 text-sm">Solo Cotizó</span>
      </label>

      <!-- solo regitstrado -->
    <label class="inline-flex items-center mt-3">
      <input type="checkbox" class="form-checkbox leyend text-celeste-500" checked>
      <span class="ml-2 text-gray-900 text-sm">Solo Registrado</span>
    </label>
    <!-- forma pendiente -->
    <label class="inline-flex items-center mt-3">
      <input type="checkbox" class=" form-checkbox leyend text-red-600"  checked>
      <span class="ml-2 text-gray-900 text-sm">Firma Pendiente</span>
    </label>

    <!-- veridficar firma -->
    <label class="inline-flex items-center mt-3">
      <input type="checkbox" class=" form-checkbox leyend text-green-500" checked>
      <span class="ml-2 text-gray-900 text-sm">Verificar Firma</span>
    </label>

    <!-- contrato conuclido -->
    <label class="inline-flex items-center mt-3">
      <input type="checkbox" class=" form-checkbox leyend text-purple-500 " checked>
      <span class="ml-2 text-gray-900 text-sm">Contrato Concluido</span>
    </label>
    <!-- Anulado -->
    <label class="inline-flex items-center mt-3">
      <input type="checkbox" class=" form-checkbox leyend text-yellow-500" checked>
      <span class="ml-2 text-gray-900 text-sm">Anulado</span>
    </label>
  </div>
</main>
