<!-- navbar -->
<nav class="navbar flex items-center px-4 ">
  <!-- nav left -->
  <ul class="navbar-nav flex items-center px-4">
      <li class="nav-item ">
          <a routerLink="/ventarapida" class=" cursor-pointer  h-auto flex flex-wrap">
            <div class=" flex justify-center items-center">
              <div class="shadow-lg p-1  border border-gray-300 rounded-full">
                <img class="w-9 object-scale-down h-9" src="assets/img/login/logotipo.svg" alt="">
              </div>
              <div class=" pl-3">
                <span class="text-2xl text-gray-900 font-medium">Innova<span
                    class="text-celeste-500 -ml-1">TED</span></span>
              </div>
            </div>
          </a>
      </li>

      <li class="nav-item pl-5">
          <a class="nav-link" onclick="collapseSidebar()">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </a>
      </li>
  </ul>


  <!-- nav right -->
  <ul class="navbar-nav nav-right flex items-center space-x-6">
      <li class="nav-item dropdown">
          <a class="relative">
              <div class="absolute right-0 p-1 bg-celeste-500 rounded-full border-celeste-500 animate-ping"></div>
              <div class="absolute right-0 p-1 bg-celeste-500 border border-celeste-500 rounded-full"></div>
              <button data-toggle="notification-menu" class=" p-2 dropdown-toggle  bg-gray-100 rounded-full hover:bg-gray-200 focus:outline-none focus:ring">
        <svg class="w-6 h-6 text-gray-600 dropdown-toggle" data-toggle="notification-menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
      </button>
          </a>
          <ul id="notification-menu" class="dropdown-menu notification-menu mt-4 transition duration-700 ease-in">
              <div class="dropdown-menu-header">
                  <div class="px-4  font-medium">
                      <span class="text-gray-700 text-sm text-left flex justify-start font-medium">NOTIFICACIONES</span>
                  </div>
              </div>
              <div class="dropdown-menu-content overlay-scrollbar scrollbar-hover">
                  <div class="bg-white rounded-md w-full px-2">
                      <ul class="flex flex-col p-2  my-2 space-y-1 ">
                          <li class="flex pt-2">
                              <span>
                                    <svg class="text-red-600 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none"
                                      viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                            </span>
                              <div class="flex flex-col ml-3">
                                  <span class=" text-sm font-normal text-gray-500"> <span
                    class="text-red-600 font-medium ">Error de factura,</span >sucedio un problema con su factura por favor verifique...</span>
                                  <span class="text-xs mt-1 text-gray-400">Hace 2 minutos</span>
                              </div>
                          </li>

                          <li class="flex pt-2 ">
                              <div class="flex-shrink-0 w-7 h-7">
                                  <img class="w-7 h-7 rounded-full object-cover bg-no-repeat" src="https://enterate24backup.s3.us-east-2.amazonaws.com/wp-content/uploads/2020/07/20132159/comisionado_de_cultura_elige_romeo_santos_como_musico_dominicano_destacado_en_ee_uu_.jpg" alt="" />
                              </div>
                              <div class="flex flex-col ml-3">
                                  <span class=" text-sm font-normal text-gray-500"> <span
                    class="text-gray-800 font-medium">Lorem ipsum ,</span>ya puedes volver a usar tu FacTEDSOL sin limites...</span>

                                  <span class="text-xs mt-1 text-gray-400">Hace 40 minutos</span>
                              </div>
                          </li>

                          <li class="flex pt-2 ">
                              <div class="flex-shrink-0 w-7 h-7">
                                  <img class="w-7 h-7 rounded-full object-cover bg-no-repeat" src="https://enterate24backup.s3.us-east-2.amazonaws.com/wp-content/uploads/2020/07/20132159/comisionado_de_cultura_elige_romeo_santos_como_musico_dominicano_destacado_en_ee_uu_.jpg" alt="" />
                              </div>
                              <div class="flex flex-col ml-3">
                                  <span class=" text-sm font-normal text-gray-500"> <span  class="text-gray-800 font-medium">Lorem ipsum ,</span>ya puedes volver a usar tu FacTEDSOL sin limites...</span>
                                  <span class="text-xs mt-1 text-gray-400">Hace 40 minutos</span>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="dropdown-menu-footer">
                  <span class="underline text-red-600 hover:text-red-800 font-medium text-sm">
                      Ver todas las notificaciones
                  </span>
              </div>
          </ul>
      </li>

      <li class="nav-item avt-wrapper">
          <div class="avt dropdown">
              <div class="relative">
                <div class="flex items-center">
                  <span data-toggle="user-menu" class=" dropdown-toggle  focus:outline-none flex items-center">
                    <span class="w-11 relative float-right mr-2 cursor-pointer hover:text-gray-700">
                      <img data-toggle="user-menu"  class="object-cover  dropdown-toggle w-7 h-7 rounded-md"
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Manuel_Merino_de_Lama_%28cropped%29.jpg"
                        alt="Ahmed Kamel" />
                      <div class="absolute right-0 p-1 bg-green-400 rounded-full bottom-4 animate-ping"></div>
                      <div class="absolute right-0 p-1 bg-green-400 border border-white rounded-full bottom-4"></div>
                    </span>
                    <p data-toggle="user-menu" class="text-sm  font-medium uppercase dropdown-toggle hidden md:block">MANUEL</p>
                    <div class="ml-2 hidden md:block">
                        <svg data-toggle="user-menu" class="h-5 w-5 dropdown-toggle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                  </span>

                </div>

              </div>
              <ul id="user-menu" class="dropdown-menu mt-2 rounded-b-lg -mr-10">
                  <div class=" bg-white rounded-b-md">
                      <ul class="flex flex-col">

                          <li class="hover:text-red-700">
                              <a routerLink="login" class="transition w-full cursor-pointer text-sm  font-medium tracking-wide py-4 text-gray-700  hover:text-celeste-500  px-12 hover:bg-blue-50 flex items-center">
                                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                                  </svg>
                                <span class="ml-2 whitespace-nowrap">Cerrar Sesión</span>
                              </a>
                          </li>
                      </ul>
                  </div>

              </ul>
          </div>
      </li>
  </ul>

  <!-- end nav right -->
</nav>
