
<div class="flex justify-between items-center pb-2">
    <div class="flex items-center w-full">
      <div class="flex items-center">
        <span class=" bg-gray-400 text-white w-8 h-8 rounded-full text-base flex justify-center items-center font-medium">?</span>  
     </div>
     <input type="text" placeholder="Ingrese Nombre" class="py-1 px-2 border w-52  rounded border-gray-300 focus text-sm ml-2">
    </div>
 

  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
  <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
</div>


 <!-- Section de contanctos -->
 <section class="w-96 space-y-4 mt-4">
  <div  class="flex items-center py-1 w-full justify-between ">
    <div class="flex items-start flex-col w-full mr-3">
     <span class="text-xs font-medium  text-gray-900 uppercase">Celular</span>
     <input type="text" placeholder="951540168" class="py-1 px-2 border w-full  rounded border-gray-300 focus text-sm ">
    </div>

    <span class="flex flex-row space-x-3 -mb-3">
      <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
        <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>

      <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
      <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
      </svg>
      </button>
      <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
      <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
      </button>
  </span>
  </div>

  <div  class="flex items-center  py-1 w-full justify-between ">
    <div class="flex items-start  flex-col w-full mr-3">
     <span class="text-xs font-medium  text-gray-900 uppercase">Correo</span>
     <input type="text" placeholder="bernap20@gmail.com" class="py-1 px-2 border w-full  rounded border-gray-300 focus text-sm">
    </div>

    <span class="flex flex-row space-x-3 -mb-3">
      <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
      <svg class="w-5 h-5 text-celeste-500 border border-celeste-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
      </button>
      <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
      <svg  class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
      </svg>
      </button>
      <button class="p-1 focus:outline-none hover:bg-gray-100 hover:shadow-lg">
      <svg class="w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
      </button>
  </span>
  </div>


 </section>

 <div class="flex justify-center items-center w-full py-2 mt-3">
  <button class="py-3 px-10 text-white text-sm  font-medium bg-celeste-500 rounded focus:outline-none">Guardar</button>
</div>
