<header class="flex justify-end items-center  pb-2">
  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
    <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</header>

<!-- ver detalle -->
<main class="relative p-2 flex-auto w-ful pt-2">
  <section class="grid grid-cols-1 sm:grid-cols-2 gap-1 sm:gap-4 w-full sm:pb-2">
    <!-- tipo -->
    <section class="w-full md:mb-2 xl:col-span-1 bg-gray-200">

      <h3 class="text-gray-600 font-medium text-sm">Lorem ipsum dolor sit amet consectetur</h3>
    </section>

    <section class="w-full md:mb-2 xl:col-span-1">
      <form action="">
        <!-- ruc -->
        <div class=" w-full md:mb-2">
          <label class="labelclass">RUC:</label>
          <input type="number" required placeholder="20145223651" class="w-full sm:mb-1 forms-control focus">
          <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
        </div>

        <!-- Nombre de la empresa  -->
        <div class="bg-gray-800 text-white px-4 py-2 rounded relative" role="alert">
          <span class="block sm:inline text-sm">ASOCIACIÓN DISTRIBUIDORA LOS CAMELLOS S.A.C</span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-5 w-5 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20">
              <title>Close</title>
              <path
                d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
          </span>
        </div>

        <!-- Modalida de pago -->
        <div class="w-full md:mb-2">
          <label class="labelclass uppercase">Modalidad de pago:</label>
          <mat-select type="text" name="tipouser" required placeholder="Seleccionar"
            class="w-full sm:mb-1 text-sm  forms-control focus">
            <mat-option value="01">Mensual</mat-option>
            <mat-option value="02">Anual</mat-option>
          </mat-select>
          <p class="text-xs italic text-red-700 hidden"> Por favor rellene este campo.</p>
        </div>

        <!-- Importe fase Prueba -->
        <div class=" w-full md:mb-2">
          <label class="labelclass">Imp. por Fase de Prueba</label>
          <input type="number" required placeholder="S/. 500.00" class="w-full sm:mb-1 forms-control focus">
          <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
        </div>

        <div class="grid w-full grid-cols-2 gap-x-2">
          <!-- Imp. por Emisión de Comprob.-->
          <div class=" w-full md:mb-2">
            <label class="labelclass">Imp. por Emisión de Comprob.</label>
            <input type="text" required placeholder="S/. 59.00" class="w-full sm:mb-1 forms-control focus">
            <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
          </div>

          <!-- Descuento -->
          <div class=" w-full md:mb-2">
            <label class="labelclass">Desc.</label>
            <input type="text" disabled placeholder="10%" class="w-full sm:mb-1 forms-control focus">
            <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
          </div>
        </div>

        <!-- Imp. por exedente.-->
        <div class=" w-full md:mb-2">
          <label class="labelclass">Importe por Exedente</label>
          <input type="text" required placeholder="s/.0.07" class="w-full sm:mb-1 forms-control focus">
          <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
        </div>

        <div class="flex justify-center ">
          <button (click)="versionfactesol()"
            class="text-white bg-gray-900 py-2 px-8 rounded-3xl focus:outline-none hover:bg-gray-900 text-sm transition duration-300 ease-in">Generar
            Contrato</button>
        </div>
        <div>
        </div>
      </form>

    </section>
  </section>

</main>
