<div class="flex justify-between items-center  pb-2">
  <h2 class="text-gray-900 text-sm font-medium">Detalles:</h2>
  <button mat-dialog-close class="p-1 rounded-full border border-gray-100 focus:outline-none">
  <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
</div>

<!-- ver detalle -->
<div class="relative p-2 flex-auto w-ful pt-2">
  <section class="grid grid-cols-1 sm:grid-cols-3 gap-1 sm:gap-4 w-full sm:pb-2">
      <!-- tipo -->
      <div class="w-full md:mb-2 xl:col-span-1">
          <h1 class="text-celeste-500 block  font-medium text-sm w-full pb-1 uppercase ">Tipo:</h1>
          <h3 class="text-gray-600 font-medium text-sm">Web</h3>
      </div>

      <div class="w-full md:mb-2 xl:col-span-1">
          <h1 class="text-celeste-500  font-medium text-sm w-full pb-1 uppercase flex items-center">
            <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
          </svg>  Célular:</h1>
          <h3 class="text-gray-600 font-medium text-sm">951540168</h3>
      </div>
      <div class="w-full md:mb-2 xl:col-span-1">
        <h1 class="text-celeste-500  font-medium text-sm w-full pb-1 uppercase flex items-center">
          <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg> EMAIL:</h1>
          <h3 class="text-gray-600 font-medium text-sm">juandavila2@gmail.com</h3>
      </div>
  </section>

  <div class="flex justify-center ">
    <button matDialogClose class="text-white bg-gray-900 py-2 px-8 rounded-3xl focus:outline-none hover:bg-gray-900 transition duration-300 ease-in">Cerrar</button>
  </div>
</div>
