<header class="flex justify-between items-center  pb-2">
  <div class="flex flex-col">
    <h3 class="text-gray-900 text-sm font-medium">Versión de FacTEDSOL.</h3>
    <h4 class="text-sm text-gray-500 font-normal pt-1">Selecciona la versión de FacTEDSOL que utilizará el cliente:</h4>
  </div>
  <button mat-dialog-close
    class="p-1 rounded-full border border-gray-100 focus:outline-none transition hover:shadow-lg hover:bg-gray-200">
    <svg class="w-6 h-6  text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</header>

<main class="w-full grid grid-cols-2 gap-x-10 items-center pt-6">
  <!-- factesol Lite -->
  <a id="select" class="w-full flex flex-row items-center border border-gray-200  shadow-lg hover:shadow-2xl transition rounded-md cursor-pointer px-8 py-3 ">
    <div class= "flex items-center justify-center   flex-shrink-0 w-5 h-5 cursor-pointer  mr-2 border-2 rounded-full  border-gray-900 " >
      <input type="radio" id="select" name="selecionar"  class="absolute opacity-0 cursor-pointer"  value= "fechas"  >
      <svg class="hidden w-3 h-3 text-red-600 font-medium pointer-events-none fill-current" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
     </div>
     <span id="select" class=" cursor-pointer  h-auto flex flex-wrap p-1">
      <span class=" p-1 text-2xl w-10 font-semibold flex items-center justify-center bg-red-600 text-white rounded-md  " >FS</span>
      <div class=" flex items-center flex-col  justify-center ml-2">
          <span class="text-lg font-medium w-full text-center text-red-600 ">FacTEDSOL</span>
          <span class="text-xs tracking-wide w-full font-medium text-left  uppercase text-red-600  " >[LITE]</span>
      </div>
    </span>
  </a>

  <!-- factesol Integracion -->
  <a  class="flex flex-row w-full items-center border border-gray-200 shadow-lg hover:shadow-2xl transition rounded-md cursor-pointer px-8 py-3">
    <div class= "flex items-center justify-center   flex-shrink-0 w-5 h-5 mr-2 border-2 rounded-full"  >
      <input type="radio" name="selecionar"  class="absolute opacity-0 cursor-pointer"  value= "fechas"  >
      <svg class="hidden w-3 h-3 text-red-600 font-medium pointer-events-none fill-current" viewBox="0 0 20 20" ><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
     </div>
     <span class=" cursor-pointer  h-auto flex flex-wrap p-1">
      <span class=" p-1 text-2xl w-10 font-semibold flex items-center justify-center text-white rounded-md bg-celeste-500 ">FT</span>
      <div class=" flex items-center flex-col  justify-center ml-2">
          <span class="text-lg font-medium w-full text-center text-celeste-500 ">FactuTED</span>
      </div>
    </span>
  </a>
</main>

<footer class=" flex items-center space-x-4 pt-10">
  <div class="flex justify-center">
    <button matDialogClose class="text-gray-900 border bg-white font-medium border-gray-900 py-2 px-5 w-auto rounded-3xl focus:outline-none hover:bg-gray-50 transition duration-500 ease-in">Cancelar</button>
  </div>
  <div class="flex justify-center ">
    <button   class="  text-white font-medium bg-gray-800 py-2 px-5 w-auto rounded-3xl focus:outline-none hover:bg-gray-900 transition duration-500 ease-in">Suspender</button>
  </div>
</footer>
