/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgb(10, 10, 10);
}

.fondo {
    background-image: url(assets/img/login/fondo.svg);
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.focus:focus {
    outline: none;
    box-shadow: 0 0 3px #0281f8;
    border-color: #0281f8;
}

.forms-control {
    @apply px-2;
    @apply py-2;
    @apply rounded;
    @apply text-sm;
    @apply text-gray-700;
    @apply border;
    @apply border-gray-400;
    transition: 200ms;
}


.tab{
  border: 2px solid #2DA6FE;

}

.tabs{
  border-bottom: 3px solid #2DA6FE;
  border-radius: 4px;

}


.btn {
    @apply px-6;
    @apply py-2;
}


.mat{
  @apply px-2;
  @apply text-sm;
  @apply text-gray-700;
  @apply font-medium;
  @apply text-center;
}


/* listado */
.btn-contr{
  @apply relative;
  @apply w-full;
  @apply border;
  @apply bg-celeste-500;
  @apply border-celeste-500;
  @apply text-white;
  @apply text-sm;
  @apply p-2;
  @apply font-medium;
}

.btn-controls{
  @apply relative;
  @apply w-full;
  @apply border;
  @apply border-celeste-500;
  @apply text-celeste-500;
  @apply bg-white;
  @apply text-sm;
  @apply p-2;
  @apply font-medium;
}

.bagde{
  @apply  absolute;
  @apply  top-0;
  @apply  right-3;
  @apply text-white;
  @apply  text-sm;
  @apply  -mt-4;
  @apply  w-6 ;
  @apply  h-6;
  @apply  font-normal;
  @apply  bg-red-600;
  @apply  rounded-full;
  @apply  flex;
  @apply  items-center;
  @apply  justify-center;
}

.filtrar{
  @apply  relative;
  @apply  border ;
  @apply  border-gray-200;
  @apply  shadow-lg;
  @apply text-celeste-500;
  @apply  text-sm;
  @apply  p-2;
  @apply  w-full;
  @apply  font-medium;
  @apply  flex;
  @apply  items-center;
  @apply  justify-center;

}


.leyend{
  @apply  w-5 ;
  @apply  h-5 ;
  @apply  border ;
  @apply  border-gray-400 ;
  @apply  rounded;

}









/* Border para error de un input */

.error {
    box-shadow: 0 0 3px #d45252;
    border-color: #e74c3c
}


/* Border para exito de un input */

.success {
    box-shadow: 0 0 3px #5cd053;
    border-color: #2ecc71;
}


/* Mejor el codifgo de nuestro proyecto */

.form-control {
    @apply px-4;
    @apply py-2;
    @apply rounded-md;
    @apply font-normal;
    @apply text-gray-800;
    @apply pl-10;
    @apply pr-10;
    @apply w-full;
    @apply bg-facted-1000;
    @apply border;
    @apply border-gray-100;
    @apply text-sm;
    @apply shadow-lg;
}


/* Clases para reducir codigo en nuestros  label */

.labelclass {
    @apply text-gray-900;
    @apply block;
    @apply font-medium;
    @apply text-sm;
    @apply w-full;
    @apply pb-1;
}


/* Elimiar las direccionales de  un imput de  tipy numbers */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #a7e481;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #6DD230;
}

.mat-dialog-container {
  display: block;
  /* padding: 24px; */
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}


/* Animacion para mejorar la esttecia de cuanquier seccion */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animacion {
    -o-animation: 5s;
    animation: 5s;
}

.animated.faster {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.ease {
    -webkit-animation-name: ease;
    animation-name: ease;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes ease {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.showingData {
    display: none;
}

:root {
    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;
    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;
    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242D;
    --dark-second-background: #181818;
}

.light {
    --main-bg-color: var(--light-background);
    --second-bg-color: var(--light-second-background);
    --main-color: var(--light-color);
    --second-color: var(--light-second-color);
}

.dark {
    --main-bg-color: var(--dark-background);
    --second-bg-color: var(--dark-second-background);
    --main-color: var(--dark-color);
    --second-color: var(--dark-second-color);
}

.light .logo-dark,
.light .light-icon {
    display: none;
}

.dark .logo-light,
.dark .dark-icon {
    display: none;
}

.bg-primary {
    background: var(--primary-color);
}

.bg-success {
    background: var(--success-color);
}

.bg-warning {
    background: var(--warning-color);
}

.bg-danger {
    background: var(--danger-color);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-color);
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-link {
    float: left;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    color: var(--second-color);
    position: relative;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-nav i {
    font-size: 1.4rem;
}

.nav-right {
    margin-left: auto;
}

.navbar-search {
    position: relative;
    margin: auto;
    width: 50%;
}

.navbar-search input {
    background: var(--second-bg-color);
    border: none;
    padding: 12px 50px 12px 50px;
    width: 100%;
    outline: none;
    color: var(--main-color);
    border-radius: 20px;
}

.navbar-search i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: var(--second-color);
    cursor: pointer;
}

.logo {
    height: 60px;
    padding: 10px;
}

.avt img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.avt {
    padding: 11px
}

.navbar-badge {
    font-size: .6rem;
    padding: 2px 4px;
    font-weight: 300;
    position: absolute;
    right: 5px;
    top: 9px;
    color: #fff;
    background: var(--danger-color);
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20%;
    top: 90%;
    background: var(--main-bg-color);
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: unset;
    border: 0.125px solid var(--second-bg-color);
}

.dropdown-expand {
    display: flex;
}

.notification-menu {
    min-width: 360px;
}

.dropdown-menu-content {
    max-height: 430px;
    overflow-y: auto;
}

.dropdown-menu-item {
    width: 100%;
}

.dropdown-menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--main-color);
}

.dropdown-menu-link div {
    min-width: 82px;
    height: 40px;
    position: relative;
}

.dropdown-menu-link i {
    font-size: 1.25rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
    font-size: 15px;
    width: 298px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-link span>span {
    font-size: 10px;
}

.dropdown-menu-link:hover {
    cursor: pointer;
    background: var(--second-bg-color);
}

.dropdown-menu-header {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid var(--second-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.wrapper {
    padding: 10px;
    margin-left: 82px;
    padding-top: 75px;
    transition: margin-left .5s;
}

.sidebar {
    width: 82px;
    height: 100vh;
    position: fixed;
    margin-top: 65px;
    background: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    overflow: hidden;
    background: white;
    z-index: 10;
    transition: width .5s;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-link {
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
}

.sidebar-nav-link svg {
    font-size: 1.5rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.sidebar-nav-link:hover {
    background: var(--second-bg-color);
}

.sidebar-nav-link.active {
    background: var(--second-bg-color);
    color: var(--danger-color);
}

.sidebar-nav-link.active div {
    border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active svg {
    color: var(--danger-color);
    margin-left: -5px;
}

.sidebar-expand .sidebar {
    width: 250px;
}

.sidebar-expand .wrapper {
    margin-left: 250px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row:after,
.row:before {
    box-sizing: border-box;
}


/* Extra small devices <= 600px */

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }
    .wrapper {
        margin-left: 0;
    }
    .sidebar-expand .wrapper {
        margin-left: 0;
    }
    .nav-right .nav-item {
        display: none;
    }
    .nav-right .mode,
    .nav-right .avt-wrapper {
        display: list-item;
        ;
    }
    .navbar-search {
        display: none;
    }
    .dropdown-menu {
        max-width: 300px;
    }
    [class*="col-"] {
        width: 100%
    }
}


/* Small devices >= 600px */

@media only screen and (min-width: 600px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}


/* laptops/desktops >= 992px */

@media only screen and (min-width: 992px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}


/* large laptops and desktops >= 1200px */

@media only screen and (min-width: 1200px) {
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }


}

.counter {
    padding: 16px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.couner svg {
    font-size: 50px;
}

.card {
    background: var(--main-bg-color);
    color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    padding: 15px 30px;
    border-bottom: 1px solid var(--second-bg-color);
    position: relative;
}

.card-header svg {
    color: var(--main-color);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.card-header svg:hover {
    cursor: pointer;
}

.card-header h3 {
    margin: 0;
}

.card-content {
    padding: 20px;
    overflow-x: auto;
}
