<!-- Loading -->
<ngx-spinner bdColor="#fff" size="large" [fullScreen]="true">
    <a class=" cursor-pointer flex items-center justify-center h-auto  flex-wrap p-1 -mt-40">
        <div class=" flex justify-center items-center">
            <div class="shadow-lg p-1 animate-bounce animated fadeIn border border-gray-200 rounded-full ">
                <img class="w-16 object-scale-down h-16" src="assets/img/login/logotipo.svg" alt="">
            </div>
            <div class="flex flex-col">
                <div class=" pl-3 animate-pulse flex flex-row">
                    <span class="text-4xl text-gray-900 font-medium animated fadeIn">Innova<span
              class="text-celeste-500 text-4xl -ml-1 animated fadeIn">TED</span></span>
                </div>
                <h1 class="text-celeste-500 text-xl font-medium pl-3">[ADMIN]</h1>
            </div>
        </div>
    </a>
</ngx-spinner>


<!-- Formulario inico seccionapp-login -->
<div class="fondo">


    <div class="min-w-screen min-h-screen flex items-center justify-center px-5 -mt-10">
        <img class="hidden md:flex px-4" src="assets/img/login/mujer.svg" alt="">
        <div class=" w-full sm:max-w-sm py-14 px-5  rounded-md bg-white  border border-gray-200 shadow-lg">
            <div class=" pb-4">
                <div class=" flex justify-center items-center">
                    <div class=" pl-3">
                        <span class="text-2xl text-gray-900 font-medium">Innova<span
                class="text-celeste-500 -ml-1">TED</span> <span class="text-gray-900 text-xl">[ADMIN]</span> </span>
                    </div>
                </div>
            </div>

            <!-- Formulario de  Inicio de  sesion -->
            <form>

                <!-- (Usuario) -->
                <div class="flex -mx-3">
                    <div class="w-full px-3 pb-4">
                        <label for="" class="text-sm  text-gray-900 font-medium   px-1">Usuario</label>
                        <div class="flex">
                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0ZM11 20.35C9.77207 20.3499 8.55618 20.108 7.42174 19.638C6.28731 19.168 5.25655 18.4792 4.38832 17.6109C3.5201 16.7426 2.8314 15.7117 2.36156 14.5772C1.89172 13.4428 1.64993 12.2268 1.65 10.9989C1.65007 9.77097 1.892 8.55507 2.36198 7.42064C2.83195 6.28621 3.52077 5.25545 4.3891 4.38722C5.25743 3.519 6.28827 2.8303 7.42276 2.36046C8.55725 1.89062 9.77317 1.64883 11.0011 1.6489C13.481 1.64905 15.8593 2.63433 17.6128 4.388C19.3662 6.14167 20.3512 8.52008 20.3511 11C20.351 13.4799 19.3657 15.8582 17.612 17.6117C15.8583 19.3651 13.4799 20.3501 11 20.35ZM11 11.55C7.6582 11.55 4.95 13.4508 4.95 15.4C4.95 17.3492 7.6582 19.25 11 19.25C14.3418 19.25 17.05 17.3492 17.05 15.4C17.05 13.4508 14.3418 11.55 11 11.55ZM11 11C11.8752 11 12.7146 10.6523 13.3335 10.0335C13.9523 9.41458 14.3 8.57521 14.3 7.7C14.3 6.82479 13.9523 5.98542 13.3335 5.36655C12.7146 4.74768 11.8752 4.4 11 4.4C10.1248 4.4 9.28542 4.74768 8.66655 5.36655C8.04768 5.98542 7.7 6.82479 7.7 7.7C7.7 8.57521 8.04768 9.41458 8.66655 10.0335C9.28542 10.6523 10.1248 11 11 11Z"
                    fill="#242424" />
                </svg>
                            </div>
                            <input type="text" placeholder="Aurelio20" required class="w-full -ml-10 pl-10 pr-3 py-2 rounded-md text-base border text-gray-800 border-gray-300 outline-none focus">
                        </div>
                        <!-- classe  hidden ocultar -->
                        <!-- <small class="text-red-700 text-xs flex justify-between px-1"> Ingrese datos en el campo
              <svg class="w-3 h-3 text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg></small> -->
                    </div>
                </div>


                <!-- (Contraseña) -->
                <div class="flex -mx-3 pb-4">
                    <div class="w-full px-3 ">
                        <label for="" class="text-sm  text-gray-900 font-medium    px-1">Contraseña</label>
                        <div class="flex">
                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z"
                    fill="#242424" />
                </svg>
                            </div>
                            <input type="password" required class="w-full -ml-10 pl-10 pr-3 py-2 text-base text-gray-800 rounded-md border border-gray-300 outline-none focus" placeholder="************">
                        </div>
                        <!-- classe  hidden ocultar -->
                        <small class="text-red-700 text-xs hidden"> Ingrese datos en el campo</small>
                    </div>
                </div>

                <!-- Olvidastes tu contraseña -->
                <div class="pb-5">
                    <a class="text-right text-sm flex justify-end cursor-pointer underline text-gray-800">¿Olvidastes tu
            contraseña?</a>
                </div>


                <div class="w-full px-3 pt-5">
                    <button routerLink="/manual" class=" w-full max-w-xs flex items-center justify-center mx-auto bg-gray-800 hover:bg-gray-900 cursor-pointer  focus:outline-none text-white rounded-full px-3 py-3 font-medium pr-2">
            Iniciar
            <svg class="w-5 h-5 ml-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
                </div>
            </form>
        </div>
        <img class="hidden md:flex px-4" src="assets/img/login/hombre.svg" alt="">
    </div>
</div>