<app-spinner> </app-spinner>

<main class="grid grid-cols-2 md:grid-cols-6">
    <!-- Factesol - Factuted -->
    <section class="  col-span-2 md:col-span-1 grid grid-cols-2 md:grid-cols-1 rounded-md border shadow-md border-gray-200 lg:m-2">
        <div class="flex col-span-2 justify-center text-xl font-medium py-5 md:hidden">Sistemas</div>
        <!-- FacTEDSol -->
        <div class="flex-col col-span-1 md:mx-0   md:border-b-2 border-gray-200 pb-2  flex justify-center">
            <!-- Titulo -->
            <div class="md:flex justify-center font-medium py-4 hidden">Sistemas</div>
            <!-- Factedsol -->
            <div class="justify-center mx-10 md:mx-0 ">
                <div class="py-4 rounded-md  flex justify-center mt-2 flex-col ">
                    <div class="border rounded-md lg:mx-5 py-5 mx-1  shadow-md border-gray-200">
                        <div class="flex justify-center">
                            <div class="flex  justify-center text-2xl w-12  p-2 font-medium rounded-md  bg-red-500 text-white">FS</div>
                        </div>
                        <div class="flex justify-center pt-5 text-gray-600 font-normal text-sm">FacTEDSOL</div>
                    </div>
                </div>
            </div>
            <!-- boton elegir -->
            <div (click)="onElegirFacTEDSOL()" *ngIf="elegirDatosfacTEDSOL === false" [class.showingData]="elegirDatosfacTEDSOL === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center font-normal bg-black hover:bg-gray-800 px-4 py-2 text-white rounded-3xl">Elegir</button>
            </div>
            <div *ngIf="elegirDatosfacTEDSOL === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center border bg-white text-black font-medium border-black  px-4 py-2  rounded-3xl">Usando...</button>
            </div>
        </div>
        <!-- FactuTED -->
        <div class="flex-col col-span-1 md:mx-0    border-gray-200 pb-2  flex justify-center">
            <!-- FactuTED -->
            <div class="justify-center mx-10 md:mx-0 ">
                <div class="py-4 rounded-md  flex justify-center mt-2 flex-col ">
                    <div class="border rounded-md lg:mx-5 py-5 mx-1  shadow-md border-gray-200">
                        <div class="flex justify-center">
                            <div class="flex  justify-center text-2xl w-12  p-2 font-medium rounded-md  bg-blue-500 text-white">FT</div>
                        </div>
                        <div class="flex justify-center pt-5 text-gray-600 font-normal text-sm">FactuTED</div>
                    </div>
                </div>
            </div>
            <!-- boton elegir -->
            <div (click)="onElegirFactuTED()" *ngIf="elegirDatosfactuTED === false" [class.showingData]="elegirDatosfactuTED === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center font-normal bg-black hover:bg-gray-800 px-4 py-2 text-white rounded-3xl">Elegir</button>
            </div>
            <div *ngIf="elegirDatosfactuTED === true" class="flex justify-center pb-4 cursor-pointer">
                <button class="cursor-pointer focus:outline-none flex w-28 mt-3 content-center justify-center border bg-white text-black font-medium  border-black  px-4 py-2  rounded-3xl">Usando...</button>
            </div>
        </div>

    </section>
    <!-- Imagen y Contenido -->
    <section class=" col-span-2 md:col-span-5 grid grid-cols-1 md:grid-cols-5 border  rounded-md shadow-md border-gray-200 lg:m-2  ">
        <!-- Imgen Central -->
        <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
            <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                <div class="rounded-md px-16 py-32 my-6 sm:py-40 sm:px-10 md:py-48 md:px-12 lg:py-56 lg:px-24 bg-white ">

                </div>
            </div>
        </div>
        <!-- Llenado de la Info -->
        <form action="" class="col-span-2 md:col-span-2 mx-1 md:mx-3 lg:m-5  felx-col  lg:mx-14 ">
            <!-- ruc -->
            <div class=" w-full md:mb-2">
                <label class="labelclass">RUC:</label>
                <input type="number" required placeholder="20145223651" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Nombre de la empresa  -->
            <div class="bg-gray-800 text-white px-4 py-2 rounded relative" role="alert">
                <span class="block sm:inline text-sm">ASOCIACIÓN DISTRIBUIDORA LOS CAMELLOS S.A.C</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-5 w-5 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <title>Close</title>
                  <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                </svg>
              </span>
            </div>

            <!-- Modalida de pago -->
            <div class="w-full md:mb-2">
                <label class="labelclass uppercase">Modalidad de pago:</label>
                <mat-select type="text" name="tipouser" required placeholder="Seleccionar" class="w-full sm:mb-1 text-sm  forms-control focus">
                    <mat-option value="01">Mensual</mat-option>
                    <mat-option value="02">Anual</mat-option>
                </mat-select>
                <p class="text-xs italic text-red-700 hidden"> Por favor rellene este campo.</p>
            </div>

            <!-- Importe fase Prueba -->
            <div class=" w-full md:mb-2">
                <label class="labelclass">Imp. por Fase de Prueba</label>
                <input type="number" required placeholder="S/. 500.00" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <div class=" w-full md:mb-2">
                <label class="labelclass">Imp. por Emisión de Comprob.</label>
                <input type="text" required placeholder="S/. 59.00" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Imp. por exedente.-->
            <div class=" w-full md:mb-2">
                <label class="labelclass">Importe por Exedente</label>
                <input type="text" required placeholder="s/.0.07" class="w-full sm:mb-1 forms-control focus">
                <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
            </div>

            <div (click)="onShowHide()" [class.showingData]="mostarDatos === true" *ngIf="mostarDatos === false" class="cursor-pointer flex-col pt-2 ">
                <button class="bg-black hover:bg-gray-800 focus:outline-none  text-white py-2 px-6 rounded-3xl">Generar Cotización</button>
            </div>
            <div *ngIf="mostarDatos === true" class="  space-x-2 md:flex-col md:space-y-1 lg:flex-row  flex  items-center pt-2 ">
                <button class="bg-black hover:bg-gray-800 focus:outline-none text-white p-2 px-6  rounded-3xl">Guardar</button>
                <button class="bg-black hover:bg-gray-800 focus:outline-none  text-white p-2 px-6 rounded-3xl">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                  </svg>
              </button>
                <button (click)="enviarcorreo()" class="bg-black hover:bg-gray-800 focus:outline-none  text-white p-2 px-6 rounded-3xl">
                  <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
              </button>
            </div>

        </form>
    </section>
</main>
